{% extends 'layout/base.html' %}

{% block title %}
    {{ profile.get_short_fio() }} :: {{ APP_TITLE }}
{% endblock title %}

{% block content %}
    {% include 'layout/extra_nav.html' %}

    <div class="p-3 row">
        <figure class="col-md-3">
            {% if profile.img %}
                <img class="figure-img img-fluid profile-image-borders" src="{{ profile.img.url }}"
                     alt="{{ profile.lastname }}">
            {% else %}
                <img class="figure-img img-fluid profile-image-borders" src="{{ static('images/user.png') }}" alt="{{ profile.lastname }}"
                     style="width: 100%">
            {% endif %}
        </figure>
        <div class="col">
            <h1 class="h4">{{ profile.lastname }} {{ profile.firstname }} {{ profile.middlename }}</h1>
            <p class="text-muted"><b>{{ profile.regalia }}</b></p>
            <p>{{ profile.description }}</p>
        </div>
    </div>
{% endblock content %}
