{% set default_cover = static('default_cover.png') %}

<div class="with_image">
    <a href="{{ news.get_absolute_url() }}">
        {% if news.newscover %}
            <div class="cover animation-fade animation-delay-2" style="background-image: url({{ news.cover_url | default(default_cover, True) }})">
                <div class="cover-content" style="background-color: {{ news.newscover.color }}aa">
                    <span>{{ news.newscover.content }}</span>
                </div>
                <div class="cover-year" style="background-color: {{ news.newscover.color }}aa">
                    <span>{{ news.date.strftime('%Y') }}</span>
                </div>
            </div>
        {% else %}
            <img src="{{ news.cover_url | default(default_cover, True) }}" alt="" class="cover-img animation-fade animation-delay-2">
        {% endif %}
    </a>
    <div class="description">
        {% include 'layout/news/news_description.html' %}
    </div>
</div>
