{% extends 'layout/base.html' %}

{% block content %}
    {% include 'layout/extra_nav.html' %}

    <img src="{{ static('images/other/conferences.jpg') }}" class="picture-head">
    <article class="padding-large">
        <section class="width-100 animation-fade animation-delay-2">
            <h1 class="center padding-medium">Кафедра СМиАП принимает активное участие в международных выставках -
                конференциях:</h1>

            <div class="adaptive">
                <table style="width: 80%;" class="font-small table_conferences">
                    <tr>
                        <th>Название</th>
                        <th>Место проведения</th>
                    </tr>

                    <tr>
                        <td>Международная молодежная научная конференция «Гагаринские чтения»</td>
                        <td>МАТИ, Москва, Россия</td>
                    </tr>
                    <tr>
                        <td>Московская международная выставка/конференция по электронному обучению «e-LearnExpo»</td>
                        <td>Москва, Россия</td>
                    </tr>
                    <tr>
                        <td>Международная конференция «Moscow Education On-line»</td>
                        <td>Москва, Россия</td>
                    </tr>
                    <tr>
                        <td>Саммит разработчиков электронных курсов «e-Learning PRO»</td>
                        <td>Москва, Россия</td>
                    </tr>
                    <tr>
                        <td>Всероссийская научно - техническая конференция «Новые материалы и технологии» НМТ</td>
                        <td>МАТИ, Москва, Россия</td>
                    </tr>
                    <tr>
                        <td>Всероссийская научно-практическая конференция «Применение ИПИ – технологий в производстве»</td>
                        <td>МАТИ, Москва, Россия</td>
                    </tr>
                    <tr>
                        <td>Московская научно-практическая конференция «Национальная безопасность России и новое научное
                            мировоззрение»</td>
                        <td>Москва, Россия</td>
                    </tr>
                    <tr>
                        <td>Библиотечно-информационный форум «Библиотеки и информационные ресурсы в современном мире
                            науки, культуры, образования и бизнеса»</td>
                        <td>Автономная Республика Крым, Судак</td>
                    </tr>
                    <tr>
                        <td>Международная научно техническая конференция «Геометрические аспекты проектирования, технологии
                            изготовления, деформирования и разрушения ЛА»</td>
                        <td>МАТИ, Москва, Россия</td>
                    </tr>
                    <tr>
                        <td>Всероссийской научно-практической конференции «Имитационное моделирование. Теория и практика»</td>
                        <td>Санкт-Петербург, Россия</td>
                    </tr>
                    <tr>
                        <td>Международная научная конференция «RelStat»</td>
                        <td>Институт транспорта и связи, Рига, Латвия</td>
                    </tr>
                    <tr>
                        <td>Международная научно практическая конференция «Информационные технологии в науке и образовании»</td>
                        <td>ЮРГУЭС, Шахты, Россия</td>
                    </tr>
                    <tr>
                        <td>Международная конференция «Excellence in Education»</td>
                        <td>Университет Стамбула, Стамбул, Турция</td>
                    </tr>
                    <tr>
                        <td>Международная конференция «Interactiv Collaborativ Learning»</td>
                        <td>Технический институт Каринтии, Филлах, Австрия</td>
                    </tr>
                    <tr>
                        <td>«Форум Союзного государства ВУЗов инженерно-технологического профиля»</td>
                        <td>БНТУ, Минск, Беларусь </td>
                    </tr>
                    <tr>
                        <td>Международная конференция «Engineering Pedagogy»</td>
                        <td>Технический институт Каринтии, Филлах, Австрия </td>
                    </tr>
                    <tr>
                        <td>Международная конференция «IEEE EDUCON – Global Engineering Education Conference»</td>
                        <td>Технический университет Берлина, Берлин, Германия </td>
                    </tr>
                    <tr>
                        <td>Международная конференция 1st International Academic Congress</td>
                        <td>Токийский университет, Токио, Япония</td>
                    </tr>
                    <tr>
                        <td>XXII Всероссийская научно-практическая конференция &laquo;Проблемы безопасности в системе высшей школы&raquo;</td>
                        <td>НИЯУ &laquo;МИФИ&raquo;, Москва, Россия</td>
                    </tr>
                </table>
            </div>
        </section>
    </article>
{% endblock content %}