{% extends 'layout/base.html' %}

{% block title %}
    Контактная информация :: О кафедре :: {{ APP_TITLE }}
{% endblock title %}

{% block content %}
    {% include 'layout/extra_nav.html' %}

    <div class="about animation-fade">
        <h1 class="padding-large center">Контактная информация</h1>
		<div class="panel about_box left">
			<p class="middle font-large justify">
				<b>Кафедра расположена по адресу:</b><br>
				121552 Москва, ул. Оршанская, д.3, корп.«B», 4 этаж.
				<br>
				+7&nbsp;(499)&nbsp;141-94-16, <a href="mailto:smig@mati.ru">smig@mati.ru</a>
                <br>
				<b>Деканат заочного отделения института №3 (Молодёжная)</b> <br>
				121552 Москва, ул. Оршанская, д.3, корп.«B», аудитория 509.
				<br>
				<a href="mailto:zaochka3.mol@gmail.com">zaochka3.mol@gmail.com</a>
			</p>
				<div style="width: 98%; margin: 0 auto;">
				<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=U3QN2cFej4OQl4HkbCPuOyyXorjBxhRh&amp;height=350">
				</script>
				<noscript>
					<img src="//api-maps.yandex.ru/services/constructor/1.0/static/?sid=U3QN2cFej4OQl4HkbCPuOyyXorjBxhRh&amp;height=450" alt="map">
				</noscript>
				</div>
		</div>

	</div>
{% endblock %}