{% extends 'layout/base.html' %}

{% block content %}
    <div class="about animation-fade">
		<div class="panel about_box center right">
            <p class="middle font-large font-light">История старейшей кафедры университета "Системное моделирование и инженерная графика" ведет отсчет с 1940 года. За это время в аудиториях и лабораториях кафедры было подготовлено более 10 000 специалистов различных областей науки и техники.</p>
            <img src="{{ static('images/about/1.jpg') }}" class="middle" alt="1"> </div>
		<div class="panel about_box center left"> <img src="{{ static('images/about/2.jpg') }}" class="middle" alt="2">
            <p class="middle font-large font-light""> Сегодня научные работы кафедры ведутся по следующим направлениям: «Разработка программного обеспечения, электронных коммуникационных устройств», «Проектирование баз данных, и структурированных кабельных систем», «Создание интегрированных информационных комплексов», «Геометрическое, твердотельное параметрическое и поверхностное моделирование сложных систем и изделий». Научная деятельность кафедры заслужила высокую оценку международных выставках, конференциях и симпозиумах. </p>
		</div>
		<div class="panel about_box center right">
            <p class="middle font-large font-light""> В процессе обучения на кафедре студенты овладевают современными, широко используемыми IT-технологиями: Oracle Database, ОС Unix (Linux, FreeBSD), WEB- инструментами RUBY/PHP/HTML, языком программирования Java, прикладными программами компании Microsoft и 1C-Бухгалтерия, а также специальными средствами разработки аппаратного обеспечения: Microchip Technology Inc. и ARM-платформы. </p>
			<img src="{{ static('images/about/4.jpg') }}" class="middle" alt="3"> </div>
		<div class="panel about_box center left"> <img src="{{ static('images/about/3.jpg') }}" class="middle" alt="4">
			<p class="middle font-large font-light""> Особое внимание уделяется изучению продуктов AutoDesk. На кафедре работают сертифицированные преподаватели, прошедшие обучение в авторизованных учебных центрах компании, в том числе по программе «3D образование». Студенты кафедры неоднократно занимали призовые места и становились лауреатами международных соревнований и конкурсов. Так, в конкурсе "Испытай возможности", проводимом компанией AutoDesk наши студенты заняли призовое 3-е место среди ВУЗов России и стран СНГ. </p>
		</div>
		<div class="panel width-100">
			<p class="font-large font-light"">Совершенствование материально-технической, научно-исследовательской и учебно-лабораторной базы кафедры строиться, прежде всего, для перспективных образовательных программ научно - технической и инновационной сфер. Для этого кафедрой определены наиболее конкурентоспособные направления развития, на какие предприятия можно ориентироваться, в каких программах можно принимать участие. На кафедре «СМиИГ» произведена модернизация учебных аудиторий, установлено современное мультимедийное оборудование, планируется замена в них аудиторной мебели, закуплено новое лицензионное программное обеспечение (Autodesk product design suit Ultimate), позволяющее вести учебный процесс и повышение квалификации, в том числе и с использованием Дистанционных образовательных технологий.</p>
		</div>
		<div class="grid3 center font-light">
			<div class="panel column left top">
				<p style="font-size: 12pt;">Кафедра осуществляет подготовку бакалавров и магистров <b>по направлению</b>:</p>
				<ul>
					<li>090301 (бакалавр) и 090401 (магистр) «Информатика и вычислительная техника»</li>
				</ul>

				<p class="font-medium"><b>Срок обучения</b>:</p>
				<ul>
					<li>бакалавр - 4 года</li>
					<li>магистр - 2 года.</li>
				</ul>
			</div>
			<div class="panel column left top">
				<p class="font-medium">Выпускники кафедры могут занимать <b>вакансии</b>:</p>
				<ul>
					<li>программистов;</li>
					<li>системных администраторов;</li>
					<li>администраторов баз данных;</li>
					<li>интеграторов;</li>
					<li>специалистов CALS и графического моделирования</li>
				</ul>
				<p class="font-medium">в IT-компаниях и соответствующих службах крупных предприятий следующих областей: банковской, нефтеперерабатывающей, строительной, консалтинговой, инновационной, авиационной.</p>
			</div>
			<div class="panel column left top">
				<p class="font-medium">Наши выпускники сейчас работают: <b>General Electrics</b>, <b>IBM</b>, <b>Ростелеком</b>, <b>Aztech</b>, <b>РИНЕТ</b>, <b>Люксофт</b>, <b>Ланит</b>, <b>Внешторгбанк</b>, участвовали в автоматизации олимпийской инфраструктуры в г. Сочи.</p>
				<p class="font-medium">На кафедре особое внимание уделяется изучению английского языка. Для студентов специально разработано несколько специализированных, тематических курсов. Также наши студенты проходят обучение на военной кафедре и после окончания Университета получают звание лейтенант запаса.</p>
			</div>
		</div>
	</div>
{% endblock content %}