{% extends 'layout/base.html' %}

{% block head %}
    <script src="{{ static('scripts/anchor.min.js') }}"></script>
    <script>anchors.add('anchor');</script>
{% endblock head %}

{% block title %}
    Сотрудники кафедры :: О кафедре :: {{ APP_TITLE }}
{% endblock title %}

{% block content %}
    {% include 'layout/extra_nav.html' %}

    <h1 class="text-center fw-light mb-3">Сотрудники кафедры № 316</h1>

    {% for profile in leaders %}
        <div id="{{ profile.get_kebab_fio() }}" class="card mb-4 bg-gray">
            <div class="row g-0">
                <div class="col-md-4 text-center">
                    {% if not profile.closed %}<a title="Открыть профиль" href="{{ profile.get_profile_url() }}">{% endif %}
                    <img src="{{ profile.img.url if profile.img else static('images/user.png')}}"
                         class="img-fluid rounded-start"
                         alt="{{ profile.lastname }} {{ profile.firstname }} {{ profile.middlename }}"
                    />
                    {% if not profile.closed %}</a>{% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        {% if not profile.closed %}<a title="Открыть профиль" href="{{ profile.get_profile_url() }}">{% endif %}
                        <h5 class="card-title text-center">
                            {{ profile.lastname }} {{ profile.firstname }} {{ profile.middlename }}
                            <a href="#{{ profile.get_kebab_fio() }}" class="anchor">#</a>
                        </h5>
                        {% if not profile.closed %}</a>{% endif %}
                        <h6 class="card-text text-muted text-center">{{ profile.regalia }}</h6>
                        <p class="card-text">{{ profile.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        {% for profile in lecturers %}
            <figure class="figure col-sm-6 col-md-4 px-lg-4 text-center" id="{{ profile.get_kebab_fio() }}">
                {% if not profile.closed %}
                    <a title="Открыть профиль" href="{{ profile.get_profile_url() }}">{% endif %}
                {% if not profile.closed %}</a>{% endif %}
                <img class="figure-img img-fluid profile-image"
                     src="{{ profile.img.url if profile.img else static('images/user.png') }}"
                     alt="{{ profile.lastname }}"
                />
                <figcaption class="figure-caption">
                    {% if not profile.closed %}
                        <a title="Открыть профиль" href="{{ profile.get_profile_url() }}">{% endif %}
                    <h6 class="text-body">
                        {{ profile.lastname }} {{ profile.firstname }} {{ profile.middlename }}
                        <a href="#{{ profile.get_kebab_fio() }}" class="anchor">#</a>
                    </h6>
                    {% if not profile.closed %}</a>{% endif %}
                    <strong>{{ profile.regalia }}</strong>
                    {% if profile.description %}
                        <p>{{ profile.description }}</p>
                    {% endif %}
                </figcaption>
            </figure>
        {% else %}
            <div class="column none">
                <p>Сотрудники не найдены</p>
            </div>

        {% endfor %}
    </div>
{% endblock content %}