<table border="1" class="table">
    <tr class="bg-primary text-secondary text-center">
        <th>День</th>
        <th>Время</th>
        <th>Название предмета</th>
        <th>Ауд.</th>
    </tr>
    {% for date in schedule.keys() %}
        <tr>
            <td class="text-center" rowspan="{{ schedule[date] | length + 1 }}">
                {% if date %}
                    <p class="mb-0">{{ date.date }}</p>
                    <p class="mb-0 fs-4">{{ date.week_day }}</p>
                {% else %}
                    По&nbsp;договорённости с&nbsp;преподавателем
                {% endif %}
            </td>
            {% for item in schedule[date] %}
                <tr class="align-middle {{ loop.cycle('table-active', '') }}">
                    <td class="text-center">{{ item.time }}</td>
                    <td>{{ item.name }} {{ item.item_type }}<br>
                        {% for teacher in item.teachers.all() %}
                            {% if teacher.staff %}
                                <a href="{{ teacher.get_absolute_url() }}">{{ teacher }}</a>
                            {% else %}
                                {{ teacher }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td class="text-center">{{ item.place }}</td>
                </tr>
            {% endfor %}
    {% else %}
        <tr>
            {% if session %}
                <td colspan="4">На данный момент расписание отсутствует</td>
            {% else %}
                <td colspan="4">На данной неделе занятия по расписанию отсутствуют</td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
