// Required
@import "bootstrap-5.0.1/scss/functions";
@import "bootstrap-5.0.1/scss/variables";
@import "bootstrap-5.0.1/scss/mixins";

$custom-colors: (
  // Default color overrides
  "primary": #0997ef,
  "secondary": #fff,
  "orange": #ff9d4b,
  "cyan": #56d9c9,

  // Custom colors
  "footer": #333,
  "light-blue": #3ec7f3,
  "grass": #b6e135,
  "sun": #fcd135
);
$theme-colors: map-merge($theme-colors, $custom-colors);

// Default variable overrides
$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 11pt;
$body-bg: #f7f7f7;
$link-color: #09f;
$card-border-radius: 2px;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1024px
);

// Optional Bootstrap components here
@import "bootstrap-5.0.1/scss/root";
@import "bootstrap-5.0.1/scss/reboot";
@import "bootstrap-5.0.1/scss/type";

// TODO: remove when all styles will ready
@import "bootstrap-5.0.1/scss/bootstrap";
@import "custom";