[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
django-stubs = "==1.5.0"
djangorestframework-stubs = "==1.2.0"
flake8 = "==3.8.3"
flake8-assertive = "==1.2.1"
isort = {version = "==4.3.21", extras = ["pipfile"]}
mypy = "==0.770"
redgreenunittest = "==0.1.1"
parameterized = "==0.7.1"

[packages]
django = "==2.2"
django-editor-widgets = "==3.0"
django-colorfield = "==0.3.0"
django-compressor = "==2.4"
django-constance = {extras = ["database"], version = "*"}
django-debug-toolbar = "==1.11"
django-extensions = "==2.2.1"
django-filter = "==2.2.0"
django-htmlmin = "==0.11.0"
django-registration = "==3.0.1"
django-sass-processor = "==0.8"
django-split-settings = "==1.0.1"
djangorestframework = "==3.11.0"
jinja2 = "==2.10.1"
libsass = "==0.20.0"
lxml = "==4.3.3"
mistune = "==0.8.4"
openpyxl = "==2.6.3"
psycopg2-binary = "==2.8.3"
python-dotenv = "==0.10.3"
termcolor = "==1.1.0"
transliterate = "==1.10.2"
uwsgi = "==2.0.19.1"

[requires]
python_version = "3.7"
