{% extends "layout/base.html" %}

{% import 'macros/forms.html' as forms %}

{% block content %}
    <div class="about">
        <h2 class="center auth-heading animation-fade">Вход на сайт</h2>
		<div class="">
            {% if form.errors %}
                <p class="middle center">
                    Неверное имя пользователя или пароль
                </p>
            {% endif %}
            {% if next %}
                {% if user and user.is_authenticated %}
                    <p class="middle center">
                        У вас недостаточно прав.
                    </p>
                {% endif %}
            {% endif %}
        </div>
	</div>

    <div class="auth-input-group animation-delay-2 animation-fade">
        {{ forms.generic_form(form, csrf_input, submit_value='войти') }}
        <a class="auth-link" href="{{ url('accounts:registration') }}">
            <button class="auth-button auth-button-outline">регистрация</button>
        </a>
    </div>

    {# Assumes you setup the password_reset view in your URLconf #}
{#    <p><a href="{{ url('password_reset') }}">Lost password?</a></p>#}

{% endblock %}
