{% extends 'layout/base.html' %}

{% block content %}
    {% include 'layout/extra_nav.html' %}

    <div class="width-100 animation-fade">
		<h1 class="center padding-medium">Научные публикации кафедры СМиАП</h1>
		<div class="adaptive">
		<table style="width: 80%;" class="font-small table_publications">
			<tr>
				<th>Название</th>
				<th>Мероприятие</th>
				<th>Авторы</th>
			</tr>
            {% for publication in publications %}
                <tr>
                    <td>{{ publication.name }}</td>
                    <td>{{ publication.place }}</td>
                    <td>{{ publication.authors }}</td>
                </tr>
            {% else %}
                <tr><td colspan="3">Публикации отсутствуют</td></tr>
            {% endfor %}
		</table>
		</div>
	</div>
{% endblock content %}