{% extends 'layout/base.html' %}

{% block content %}
    {% include 'layout/extra_nav.html' %}

    <div class="width-100 animation-fade">
		<h1 class="center padding-medium">Научные публикации кафедры СМиАП</h1>
		<div class="adaptive">
		<table style="width: 80%;" class="font-small table_publications">
			<tr>
				<th>Название</th>
				<th>Мероприятие</th>
				<th>Авторы</th>
			</tr>
            {% for publication in publications %}
                <tr>
                    <td>{{ publication.name }}</td>
                    <td>{{ publication.place }}</td>
                    <td>{{ publication.authors }}</td>
                </tr>
            {% else %}
                <tr><td colspan="3">Публикации отсутствуют</td></tr>
            {% endfor %}
{#			<tr>#}
{#				<td>Применение виртуальных и удаленных лабораторных практикумов в инженерном образовании с e-Learning (статья).</td>#}
{#				<td>Материалы 15-ой Международной конференции «Interactiv Collaborativ Learning 2012» и 41-ой Международной#}
{#					конференции «Engineering Pedagogy 2012», Австрия, Филлах, 26-28 сентября 2012.#}
{#				</td>#}
{#				<td>Хорошко&nbsp;Л.Л., Сухова&nbsp;Т.С.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Информационное и программное обеспечение автоматизированного проектирования интеллектуального здания (статья)#}
{#				</td>#}
{#				<td>Научно-технический и теоретический журнал «Электротехнические и информационные комплексы и системы», № 1, т. 8,#}
{#					2012, с. 14-21.#}
{#				</td>#}
{#				<td>Силуянов&nbsp;А.В., Пономаренко&nbsp;И.Н.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Анализ эргономичности интерфейсов управления интеллектуальным зданием (статья)</td>#}
{#				<td>Научно-технический и теоретический журнал «Электротехнические и информационные комплексы и системы», № 3, т. 8,#}
{#					2012, с. 3-8.#}
{#				</td>#}
{#				<td>Силуянов&nbsp;А.В., Пономаренко&nbsp;И.Н.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Разработка методики использования средств видеоконференцсвязи в учебном процессе (тезисы).</td>#}
{#				<td>Международная молодежная научная конференция МАТИ «ХХXVIII Гагаринские чтения», М.: МАТИ, 2012.</td>#}
{#				<td>Хорошко&nbsp;Л.Л., Горохова&nbsp;С.Г.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Применение средств мультимедиа для разработки и создания электронных учебно-методических комплексов (тезисы).#}
{#				</td>#}
{#				<td>Международная молодежная научная конференция МАТИ «ХХXVIII Гагаринские чтения», М.: МАТИ, 2012.</td>#}
{#				<td>Хорошко&nbsp;Л.Л., Каштанова&nbsp;Е.В.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Организация учебного процесса с использованием электронных средств: дистанционных образовательных технологий и#}
{#					средств видеоконференцсвязи (тезисы).#}
{#				</td>#}
{#				<td>Международная молодежная научная конференция МАТИ «ХХXVIII Гагаринские чтения», М.: МАТИ, 2012.</td>#}
{#				<td>Хорошко&nbsp;Л.Л., Никитина&nbsp;Е.П.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Разработка электронного учебно-методического комплекса по дисциплине «Методы и средства защиты компьютерной#}
{#					информации» (тезисы).#}
{#				</td>#}
{#				<td>Международная молодежная научная конференция МАТИ «ХХXVIII Гагаринские чтения», М.: МАТИ, 2012.</td>#}
{#				<td>Хорошко&nbsp;Л.Л., Никитина&nbsp;Е.П.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Геометрическое твердотельное параметрическое и поверхностное моделирование сложных систем и изделий (тезисы).#}
{#				</td>#}
{#				<td>Международная молодежная научная конференция МАТИ «ХХXVIII Гагаринские чтения», М.: МАТИ, 2012.</td>#}
{#				<td> Хорошко&nbsp;Л.Л., Харитоненков&nbsp;А.И.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Оценка методов тестирования и возможные решения для их реализации (тезисы).</td>#}
{#				<td>Международная молодежная научная конференция МАТИ «ХХXVIII Гагаринские чтения», М.: МАТИ, 2012.</td>#}
{#				<td>Хорошко&nbsp;Л.Л., Хорошко&nbsp;А.Л.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Разработка и апробация модели информационно-коммуникационной среды для реализации учебного процесса на базе#}
{#					системы дистанционного образования с учетом требований государственных стандартов и работодателей при#}
{#					индивидуально-модульной форме обучения в технологическом ВУЗе (тезисы).#}
{#				</td>#}
{#				<td> Материалы I Форума Союзного государства ВУЗов инженерно-технологического профиля, Минск, БНТУ, 2012.</td>#}
{#				<td> Хорошко&nbsp;Л.Л., Ухов&nbsp;П.А.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Разработка методики построения комплексных систем автоматизации интеллектуальных зданий на базе протокола BACnet#}
{#					(тезисы).#}
{#				</td>#}
{#				<td> В сборнике научных трудов Международной молодежной конференции в 8 томах «XXXYIII Гагаринские чтения» Москва,#}
{#					10-14 апреля 2012. -М.: МАТИ, 2012.#}
{#				</td>#}
{#				<td> Дунаев Т.О., Пономаренко&nbsp;И.Н.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Применение функциональных блоков в среде визуального программирования при проектировании интеллектуальных зданий#}
{#					(тезисы).#}
{#				</td>#}
{#				<td> В сборнике материалов одиннадцатой Всероссийской научно-практической конференции «Управление качеством», 12-13#}
{#					марта 2012 г.-М.: МАТИ, 2012.#}
{#				</td>#}
{#				<td> Силуянов&nbsp;А.В., Силуянов&nbsp;А.А., Пономаренко&nbsp;И.Н.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Разработка модели мультипротокольного шлюза встраиваемого контроллера автоматизации зданий на базе протоколов#}
{#					BACnet, Modbus, C-Bus, DMX512 (тезисы).#}
{#				</td>#}
{#				<td> В сборнике научных трудов Международной молодежной конференции в 8 томах «XXXYIII Гагаринские чтения» Москва,#}
{#					10-14 апреля 2012. -М.: МАТИ, 2012.#}
{#				</td>#}
{#				<td> Маркеева Л.Б., Пономаренко&nbsp;И.Н.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Применение Программного Комплекса «Коммутатор» При Автоматизированном Проектировании коммутационных Систем#}
{#					Автоматики (тезисы).#}
{#				</td>#}
{#				<td> В сборнике научных трудов Международной молодежной конференции в 8 томах «XXXYIII Гагаринские чтения» Москва,#}
{#					10-14 апреля 2012. -М.: МАТИ, 2012.#}
{#				</td>#}
{#				<td> Николаев&nbsp;П.Л.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Комплексный подход к проектированию информационно-управляющих систем организационно-технического комплекса#}
{#					(тезисы ).#}
{#				</td>#}
{#				<td> Седьмой Международный аэрокосмический конгресс. – М.: Изд. Хоружевский А.И. – 486 с., ил., с. 227-228.</td>#}
{#				<td>Силуянов&nbsp;А.В., Силуянов&nbsp;А.А., Пономаренко&nbsp;И.Н.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Анализ возможностей автоматических систем проектирования с целью применения в проектировании интеллектуальных#}
{#					зданий (тезисы).#}
{#				</td>#}
{#				<td> В сборнике научных трудов Международной молодежной конференции в 8 томах «XXXYIII Гагаринские чтения» Москва,#}
{#					10-14 апреля 2012. -М.: МАТИ, 2012.#}
{#				</td>#}
{#				<td> Садыков&nbsp;М.Р., Пономаренко&nbsp;И.Н.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Применение виртуальных и удаленных лабораторных практикумов в инженерном образовании МАТИ с e-Learning#}
{#					(тезисы).#}
{#				</td>#}
{#				<td>Международная молодежная научная конференция МАТИ «ХХXIX Гагаринские чтения», М.: МАТИ, 2013.</td>#}
{#				<td>Хорошко&nbsp;Л.Л. Хорошко&nbsp;А.Л.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Геометрическое твердотельное параметрическое и поверхностное моделирование сложных систем и изделий на основе#}
{#					программных комплексов для трехмерного моделирования (тезисы).#}
{#				</td>#}
{#				<td>Международная молодежная научная конференция МАТИ «ХХXIX Гагаринские чтения», М.: МАТИ, 2013.</td>#}
{#				<td>Хорошко&nbsp;Л.Л.#}
{#					Хорошко&nbsp;А.Л.#}
{#				</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Системы контроля параметров микроклимата (тезисы).</td>#}
{#				<td> Международная молодежная научная конференция МАТИ «ХХXIX Гагаринские чтения», М.: МАТИ, 2013.</td>#}
{#				<td>Хорошко&nbsp;Л.Л.#}
{#					Херсонец&nbsp;Н.С.#}
{#				</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Функционально-стоимостной анализ и оценка маркетинговых преимуществ щитов энергосбережения с интеллектуальной#}
{#					управляющей системой (тезисы).#}
{#				</td>#}
{#				<td> Международная молодежная научная конференция МАТИ «ХХXIX Гагаринские чтения», М.: МАТИ, 2013.</td>#}
{#				<td> Хорошко&nbsp;Л.Л.#}
{#					Силуянов&nbsp;А.А.#}
{#				</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Применение средств видеоконференцсвязи в организации процесса обучения с использованием электронных средств#}
{#					(тезисы).#}
{#				</td>#}
{#				<td> Международная молодежная научная конференция МАТИ «ХХXIX Гагаринские чтения», М.: МАТИ, 2013.</td>#}
{#				<td>Хорошко&nbsp;Л.Л.#}
{#					Никитина&nbsp;Е.П.#}
{#				</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Исследование и анализ образовательного процесса в системе дистанционного обучения с помощью среды «MOODLE»#}
{#					(тезисы).#}
{#				</td>#}
{#				<td> Международная молодежная научная конференция МАТИ «ХХXIX Гагаринские чтения», М.: МАТИ, 2013.</td>#}
{#				<td>Хорошко&nbsp;Л.Л.#}
{#					Прокопенко&nbsp; Е.В.#}
{#				</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Тенденции развития конструкторов сайтов и систем управления контентом во всемирной паутине. Сравнительный анализ#}
{#					(тезисы).#}
{#				</td>#}
{#				<td>Международная молодежная научная конференция МАТИ «ХХXIX Гагаринские чтения», М.: МАТИ, 2013.</td>#}
{#				<td>Кейно&nbsp;П.П.#}
{#					Аболмасов&nbsp;В.Г.#}
{#				</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Освоение САПР AutoCad при выполнении чертежей деталей по теме "Сопряжения" курса "Инженерная и компьютерная#}
{#					графика" (тезисы).#}
{#				</td>#}
{#				<td> Международная молодежная научная конференция МАТИ «ХХXIX Гагаринские чтения», М.: МАТИ, 2013.</td>#}
{#				<td>Виноградов&nbsp;С.Н.#}
{#					Квашнин&nbsp;В.М.#}
{#				</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Обзор новых особенностей технологии HTML5 (тезисы).</td>#}
{#				<td> Международная молодежная научная конференция МАТИ «ХХXIX Гагаринские чтения», М.: МАТИ, 2013.</td>#}
{#				<td>Зазыкин&nbsp;В.Г.#}
{#					Миронов&nbsp;В.В.#}
{#					Кейно&nbsp;П.П.#}
{#				</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Применение научных исследований высоких и критических технологий в информационных управляющих системах#}
{#					интеллектуальных зданий (тезисы).#}
{#				</td>#}
{#				<td>Международная молодежная научная конференция МАТИ «ХХXIX Гагаринские чтения», М.: МАТИ, 2013.</td>#}
{#				<td> Исаенков&nbsp;А.А.Силуянов&nbsp;А.В.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Основы построения высоконагруженных систем сети Интернет. Краткий обзор некоторых решений (тезисы).</td>#}
{#				<td> Международная молодежная научная конференция МАТИ «ХХXIX Гагаринские чтения», М.: МАТИ, 2013.</td>#}
{#				<td>Кейно&nbsp;П.П.Силуянов&nbsp;А.В.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Методика автоматизированного построения результатов конечно элементного анализа электронной модели (тезисы).#}
{#				</td>#}
{#				<td> Международная молодежная научная конференция МАТИ «ХХXIX Гагаринские чтения», М.: МАТИ, 2013.</td>#}
{#				<td>Кузеленков&nbsp;А.Н.Силуянов&nbsp;А.В.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Исследование технологии Web-desktop и перспектив интеграции её на российский рынок (тезисы).</td>#}
{#				<td> Международная молодежная научная конференция МАТИ «ХХXIX Гагаринские чтения», М.: МАТИ, 2013.</td>#}
{#				<td>Марасанова&nbsp;П.А. Кейно&nbsp;П.П.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Анализ эффективности визуальных интерфейсов пользователя интеллектуальных систем управления (тезисы).</td>#}
{#				<td> Международная молодежная научная конференция МАТИ «ХХXIX Гагаринские чтения», М.: МАТИ, 2013.</td>#}
{#				<td>Мишина&nbsp;А.В.#}
{#					Силуянова&nbsp;М.В.#}
{#				</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Причины появления препроцессоров CSS, их виды и особенности (тезисы).</td>#}
{#				<td> Международная молодежная научная конференция МАТИ «ХХXIX Гагаринские чтения», М.: МАТИ, 2013.</td>#}
{#				<td> Морозов&nbsp;А.С.#}
{#					Кейно&nbsp;П.П.#}
{#				</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Разработка методики резервного копирования базы данных Oracle (тезисы).</td>#}
{#				<td> Международная молодежная научная конференция МАТИ «ХХXIX Гагаринские чтения», М.: МАТИ, 2013.</td>#}
{#				<td> Нетреба&nbsp;М.С.#}
{#					Квашнин&nbsp;В.М.#}
{#				</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Проблемы формирования интеллектуальной среды обитания (тезисы).</td>#}
{#				<td> Международная молодежная научная конференция МАТИ «ХХXIX Гагаринские чтения», М.: МАТИ, 2013.</td>#}
{#				<td> Николаев&nbsp;П.Л.#}
{#					Силуянов&nbsp;А.В.#}
{#				</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Сравнение возможностей САПР легкого класса (тезисы).</td>#}
{#				<td> Международная молодежная научная конференция МАТИ «ХХXIX Гагаринские чтения», М.: МАТИ, 2013.</td>#}
{#				<td> Смирнов&nbsp;Р.Ю.#}
{#					Квашнин&nbsp;В.М.#}
{#				</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Технология Comet для построения web-приложений реального времени (тезисы).</td>#}
{#				<td> Международная молодежная научная конференция МАТИ «ХХXIX Гагаринские чтения», М.: МАТИ, 2013.</td>#}
{#				<td> Харитоненков&nbsp;А.И.#}
{#					Кейно&nbsp;П.П.#}
{#				</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Использование различных языков для верстки в web (тезисы).</td>#}
{#				<td> Международная молодежная научная конференция МАТИ «ХХXIX Гагаринские чтения», М.: МАТИ, 2013.</td>#}
{#				<td> Чикун&nbsp;И.А.#}
{#					Квашнин&nbsp;В.М.#}
{#				</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Применение интерактивных форм обучения для совершенствования подготовки студентов (тезисы).</td>#}
{#				<td> Международная молодежная научная конференция МАТИ «ХL Гагаринские чтения», М.: МАТИ, 2014.</td>#}
{#				<td> Хорошко&nbsp;Л.Л., Лисицына&nbsp;И.В.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Применение оболочки «MOODLE» для управления обучением и размещения электронных учебных курсов в ИЗО МАТИ#}
{#					(тезисы).#}
{#				</td>#}
{#				<td> Международная молодежная научная конференция МАТИ «ХL Гагаринские чтения», М.: МАТИ, 2014.</td>#}
{#				<td> Хорошко&nbsp;Л.Л., Никитина&nbsp;Е.П.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Применение ДОТ в учебном процессе ВУЗа (тезисы).</td>#}
{#				<td> Международная молодежная научная конференция МАТИ «ХL Гагаринские чтения», М.: МАТИ, 2014.</td>#}
{#				<td> Хорошко&nbsp;Л.Л., Прокопенко&nbsp;Е.П.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Структурированные кабельные системы. Связь электротехнической схемы с трехмерной моделью объекта (тезисы).</td>#}
{#				<td> Международная молодежная научная конференция МАТИ «ХL Гагаринские чтения», М.: МАТИ, 2014.</td>#}
{#				<td> Хорошко&nbsp;Л.Л., Херсонец&nbsp;Н.С.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Применение систем автоматизированного проектирования для разработки электронного учебного контента по#}
{#					техническим дисциплинам ВУЗа (тезисы).#}
{#				</td>#}
{#				<td>Международная молодежная научная конференция МАТИ «ХL Гагаринские чтения», М.: МАТИ, 2014.</td>#}
{#				<td> Хорошко&nbsp;Л.Л., Хорошко&nbsp;А.Л.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Применение САПР для создания чертежей и разработки электронных учебно-методических пособий (тезисы).</td>#}
{#				<td> Международная молодежная научная конференция МАТИ «ХL Гагаринские чтения», М.: МАТИ, 2014.</td>#}
{#				<td> Хорошко&nbsp;Л.Л., Чижиков&nbsp;А.С.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Сравнительный анализ фреймворков на базе языка Python для создания полноценных Web-приложений</td>#}
{#				<td>XL Гагаринские чтения. Научные труды Международной молодежной научной конференции в 9 томах. Москва, 7-11 апреля#}
{#					2014г. М.: МАТИ, 2014 Т.5.#}
{#				</td>#}
{#				<td>Кейно&nbsp;П.П., Аболмасов&nbsp;В.Г.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Современные методы аутентификации пользователей на Web-сервисах</td>#}
{#				<td>XL Гагаринские чтения. Научные труды Международной молодежной научной конференции в 9 томах. Москва, 7-11 апреля#}
{#					2014г. М.: МАТИ, 2014 Т.5.#}
{#				</td>#}
{#				<td>Кейно&nbsp;П.П., Бубнов&nbsp;А.В.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Методы реализации адаптивной верстки в Web с применением технологии Media Queries</td>#}
{#				<td>XL Гагаринские чтения. Научные труды Международной молодежной научной конференции в 9 томах. Москва, 7-11 апреля#}
{#					2014г. М.: МАТИ, 2014. Т.5#}
{#				</td>#}
{#				<td>Кейно&nbsp;П.П., Викулин&nbsp;М.А.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Обзор технологий внедрения видео в Web</td>#}
{#				<td>XL Гагаринские чтения. Научные труды Международной молодежной научной конференции в 9 томах. Москва, 7-11 апреля#}
{#					2014г. М.: МАТИ, 2014 Т.5 288 с., с. 224-225 .#}
{#				</td>#}
{#				<td> Кейно&nbsp;П.П., Исмайлов&nbsp;Э.А.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Исследование эволюции современных Web-стандартов</td>#}
{#				<td>XL Гагаринские чтения. Научные труды Международной молодежной научной конференции в 9 томах. Москва, 7-11 апреля#}
{#					2014г. М.: МАТИ, 2014 Т.5 .#}
{#				</td>#}
{#				<td>Кейно&nbsp;П.П., Казакова&nbsp;А.Н.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Использование структурного языка программирования для описания динамических Web-страниц на стороне сервера#}
{#					(тезисы)#}
{#				</td>#}
{#				<td>XL Гагаринские чтения. Научные труды Международной молодежной научной конференции в 9 томах. Москва, 7-11 апреля#}
{#					2014г. М.: МАТИ, 2014 Т.5.#}
{#				</td>#}
{#				<td> Кейно&nbsp;П.П., Силуянов&nbsp;А.В.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Безопасность серверной архитектуры Apache+PHP. Анализ уязвимостей и методы защиты (тезисы)</td>#}
{#				<td>XL Гагаринские чтения. Научные труды Международной молодежной научной конференции в 9 томах. Москва, 7-11 апреля#}
{#					2014г. М.: МАТИ, 2014 Т.5.#}
{#				</td>#}
{#				<td>Кейно&nbsp;П.П., Новиков&nbsp;В.Е.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>HTML5 WebSockets для построения асинхронных Web-приложений реального времени (тезисы)</td>#}
{#				<td>XL Гагаринские чтения. Научные труды Международной молодежной научной конференции в 9 томах. Москва, 7-11 апреля#}
{#					2014г. М.: МАТИ, 2014 Т.5 .#}
{#				</td>#}
{#				<td> Кейно&nbsp;П.П., Харитоненков&nbsp;А.И.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Сравнительный анализ технологий внедрения анимации в Web (тезисы)</td>#}
{#				<td>XL Гагаринские чтения. Научные труды Международной молодежной научной конференции в 9 томах. Москва, 7-11 апреля#}
{#					2014г. М.: МАТИ, 2014. Т.5#}
{#				</td>#}
{#				<td>Кейно&nbsp;П.П., Щербинин&nbsp;И.М.</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Модель управления температурным режимом в помещениях интеллектуального здания XL (тезисы)</td>#}
{#				<td> Гагаринские чтения. Научные труды Международной молодежной научной конференции в 9 томах. Москва, 7-11 апреля#}
{#					2014 г. – М.: МАТИ, 2014.Т.5#}
{#				</td>#}
{#				<td> Николаев&nbsp;П.Л.#}
{#					Силуянов&nbsp;А.В.#}
{#				</td>#}
{#			</tr>#}
{#			<tr>#}
{#				<td>Автоматизированная разработка динамических Web-узлов средствами декларативного языка программирования</td>#}
{#				<td> Прикладная информатика, №6, Декабрь 2014, стр. 70-78</td>#}
{#				</td>#}
{#				<td> Кейно&nbsp;П.П.#}
{#					Силуянов&nbsp;А.В.#}
{#				</td>#}
{#			</tr>#}
{#			                <td>Управление производственной системой в мелкосерийном производстве</td>#}
{#                <td>Вестник Тамбовского университета. Серия: Естественные и технические науки. 2018. №122р. С. 142-147</td>#}
{#                <td>Кузнецов П.М., Москвин В.К.</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Анализ статических и динамических характеристик привода промышленного робота</td>#}
{#                <td>Вестник Тамбовского университета. Серия: Естественные и технические науки. 2018. №123р. С. 468-470</td>#}
{#                <td>Кузнецов П.М., Москвин В.К.</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>The Use CAD/CAE Systems to Create E-Learning Courses on Technical Subjects at University</td>#}
{#                <td>International journal of engineering pedagogy. 2018. №2. С. 64-71</td>#}
{#                <td>Khoroshko L.L., Ukhov P.A.</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Разработка архитектуры интернет-сервиса организации научных мероприятий с автоматизацией документооборота</td>#}
{#                <td>Прикладная информатика. 2018. №4(76). С. 70-76</td>#}
{#                <td>Хорошко Л.Л., Кейно П.П., Новиков А.Ю.</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Оценка применения аддитивных технологий для создания аэродинамических моделей космических головных частей</td>#}
{#                <td>Труды МАИ. 2018. №101.</td>#}
{#                <td>Хорошко Л.Л., Астапов В.Ю., Дудков К.В.</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Постановка процедуры выполнения прогностических оценок проектных решенийконструкторско-технологических задач</td>#}
{#                <td>Информационные технологии в проектировании и производстве. 2018. №1. С. 43-49</td>#}
{#                <td>Прудников В.А.</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Расчет технологического состава сложных технических систем с использованием параллельных вычислений</td>#}
{#                <td>Информационные технологии в проектировании и производстве. 2018. №3. С. 29-35</td>#}
{#                <td>Бутко А.О., Криштоп А.А.</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Алгоритмы подсистемы автоматизации построения проектов в составе комплекса анализа организационно-технических решений</td>#}
{#                <td>Информационные технологии в проектировании и производстве. 2018. №3. С. 3-9</td>#}
{#                <td>Бутко А.О., Колесников Д.А.</td>#}
{#            </tr>#}
		</table>
		</div>
	</div>
{% endblock content %}