{% extends 'layout/base.html' %}

{% block content %}
    {% include 'layout/extra_nav.html' %}

    <div class="width-100 animation-fade">
		<h1 class="center padding-medium">Учебные пособия</h1>
		<div class="adaptive">
			<table style="width: 80%;" class="font-small table_tutorials">
				<tr>
					<th style="text-align: center;">№</th>
					<th>Название</th>
					<th>Автор</th>
					<th>Год издания</th>
				</tr>

				<tr>
					<td style="text-align: center;">1</td>
					<td><a href="{$resPath}files/tutorials/1.doc">Сборочный чертеж «1. Оформление сборочного чертежа» Методические указания</a></td>
					<td>А.С.&nbsp;Назаров<br>
						Л.В.&nbsp;Сеньковская</td>
					<td>1999</td>
				</tr>
				<tr>
					<td style="text-align: center;">2</td>
					<td><a href="{$resPath}files/tutorials/2.doc">Сборочный чертеж «2. Оформление спецификации» Методические указания</a></td>
					<td>А.С.&nbsp;Назаров<br>
						Л.В.&nbsp;Сеньковская</td>
					<td>2000</td>
				</tr>
				<tr>
					<td style="text-align: center;">3</td>
					<td>Сборочный чертеж Методические указания к выполнению курсовой работы</td>
					<td>В.М.&nbsp;Лебедев</td>
					<td>2000</td>
				</tr>
				<tr>
					<td style="text-align: center;">4</td>
					<td>Методические указания к выполнению курсовой работы по теме «Сборочный чертеж и спецификация»</td>
					<td>Н.Н.&nbsp;Граудина</td>
					<td>1999</td>
				</tr>
				<tr>
					<td style="text-align: center;">5</td>
					<td>Позиционные задачи «Пересечение поверхностей» Учебное пособие к индивидуальному заданию</td>
					<td>С.И.&nbsp;Лелюшенко<br>
						Н.С.&nbsp;Назарова</td>
					<td>1998</td>
				</tr>
				<tr>
					<td style="text-align: center;">6</td>
					<td>Позиционные задачи «Пересечение плоскостей» Учебное пособие к индивидуальному заданию</td>
					<td>Г.А.&nbsp;Соколова<br>
						Е.Ю.&nbsp;Обичкина</td>
					<td>1998</td>
				</tr>
				<tr>
					<td style="text-align: center;">7</td>
					<td>Пособие по курсу «Начертательная геометрия и инженерная графика» (Преобразование комплексного чертежа)</td>
					<td>В.М.&nbsp;Лебедев<br>
						А.А.&nbsp;Алямовский</td>
					<td>1999</td>
				</tr>
				<tr>
					<td rowspan="2" style="text-align: center;">8</td>
					<td>А) Геометрическое черчение Учебное пособие к индивидуальному заданию</td>
					<td>В.М.&nbsp;Лебедев</td>
					<td>1998</td>
				</tr>
				<tr>
					<td><a href="{$resPath}files/tutorials/8.2.doc">Б) Общие правила оформления чертежей и сопряжения</a></td>
					<td>В.М.&nbsp;Лебедев</td>
					<td>2007</td>
				</tr>
				<tr>
					<td style="text-align: center;">9</td>
					<td><a href="{$resPath}files/tutorials/9.doc">Разъемные соединения Методическое пособие к индивидуальному заданию</a></td>
					<td>В.М.&nbsp;Лебедев</td>
					<td>1999</td>
				</tr>

				<tr>
					<td style="text-align: center;"></td>
					<td><a href="{$resPath}files/tutorials/RS_Lebedev_V.M..docx">Разъемные соединения. Лебедев В.М. [docx]</a><br>
						<a href="{$resPath}files/tutorials/RS_Lebedev_V.M..pdf">Разъемные соединения. Лебедев В.М. [pdf]</a></td>
					<td>В.М.&nbsp;Лебедев<br>
						В.М.&nbsp;Лебедев</td>
					<td>2013</td>
				</tr>

				<tr>
					<td style="text-align: center;">10</td>
					<td>Технический рисунок Учебное пособие к индивидуальному заданию</td>
					<td>А.С.&nbsp;Назаров</td>
					<td>1998</td>
				</tr>
				<tr>
					<td style="text-align: center;">11</td>
					<td>Учебное пособие к индивидуальному заданию «Метрические задачи»</td>
					<td>С.М.&nbsp;Байкалова<br>
						Е.И.&nbsp;Ежкова<br>
						И.А.&nbsp;Фокеева</td>
					<td>1999</td>
				</tr>
				<tr>
					<td style="text-align: center;">12</td>
					<td>Методические указания к выполнению графической работы «Схемы электрические принципиальные» по курсу «Инженерная графика»</td>
					<td>И.Е.&nbsp;Ковалев<br>
						Н.Н.&nbsp;Граудина</td>
					<td>2000</td>
				</tr>
				<tr>
					<td style="text-align: center;">13</td>
					<td><a href="{$resPath}files/tutorials/13.doc">Рабочая тетрадь по Инженерной графике</a></td>
					<td>Н.Н.&nbsp;Граудина<br>
						А.С.&nbsp;Назаров</td>
					<td>2005</td>
				</tr>
				<tr>
					<td style="text-align: center;">14</td>
					<td><a href="{$resPath}files/tutorials/14.doc">Рабочая тетрадь по Начертательной геометрии (16 часов - лекции, 32 часа – практические занятия)</a></td>
					<td>В.Ю.&nbsp;Астапов</td>
					<td>2005</td>
				</tr>
				<tr>
					<td style="text-align: center;">15</td>
					<td>Рабочая тетрадь для конспекта лекций по сокращенному курсу «Начертательной геометрии»</td>
					<td>В.М.&nbsp;Лебедев</td>
					<td>2001</td>
				</tr>
				<tr>
					<td style="text-align: center;">16</td>
					<td><a href="{$resPath}files/tutorials/16.doc">Индивидуальные задания по начертательной геометрии Методические указания</a></td>
					<td>В.М.&nbsp;Лебедев<br>
						С.И.&nbsp;Лилюшенко</td>
					<td>2006</td>
				</tr>
				<tr>
					<td rowspan="3">17</td>
					<td><a href="{$resPath}files/tutorials/17.1.doc">А) Рабочая тетрадь для сокращенного курса «Начертательной геометрии» (Издание 3е, переработанное) (16 часов - лекции, 32 часа – практические занятия)</a></td>
					<td>В.М.&nbsp;Лебедев</td>
					<td>2006</td>
				</tr>
				<tr>
					<td style="text-align: center;">Б) Рабочая тетрадь для сокращенного курса «Начертательной геометрии» (Издание 2-е, переработанное)</td>
					<td>В.М.&nbsp;Лебедев</td>
					<td>2004</td>
				</tr>
				<tr>
					<td style="text-align: center;">В) Рабочая тетрадь для сокращенного курса «Начертательной геометрии»</td>
					<td>В.М.&nbsp;Лебедев</td>
					<td>2001</td>
				</tr>
				<tr>
					<td style="text-align: center;">18</td>
					<td>Пособие по курсу «Начертательная геометрия и инженерная графика» (Комплексный чертеж и позиционные задачи)</td>
					<td>В.М.&nbsp;Лебедев<br>
						А.А.&nbsp;Алямовский</td>
					<td>1998</td>
				</tr>
				<tr>
					<td style="text-align: center;">20</td>
					<td>«Виды, разрезы, сечения» Пособие для преподавателей</td>
					<td>Г.А.&nbsp;Соколова<br>
						Л.Н.&nbsp;Павлова</td>
					<td>2003</td>
				</tr>
				<tr>
					<td style="text-align: center;">21</td>
					<td>Резьбы и резьбовые соединения. Первые понятия сборочного чертежа Пособие для преподавателей</td>
					<td>Г.А.&nbsp;Соколова<br>
						Л.Н.&nbsp;Павлова</td>
					<td>2003</td>
				</tr>
				<tr>
					<td style="text-align: center;">22</td>
					<td>Преобразование комплексного чертежа Учебное пособие к курсовой работе</td>
					<td>Г.А.&nbsp;Соколова<br>
						Л.Н.&nbsp;Павлова</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td style="text-align: center;">23</td>
					<td>Альбом студенческих сборочных чертежей (28 вариантов) Пособие для преподавателей</td>
					<td>В.М.&nbsp;Лебедев</td>
					<td>2002</td>
				</tr>
				<tr>
					<td style="text-align: center;">24</td>
					<td>Методическое пособие по выполнению курсовой работы «Сборочный чертеж»</td>
					<td>Ю.В.&nbsp;Боков</td>
					<td>2000</td>
				</tr>
				<tr>
					<td style="text-align: center;">25</td>
					<td>Цилиндрическое зубчатое колесо (Методическая карта)</td>
					<td>В.М.&nbsp;Лебедев</td>
					<td>2001</td>
				</tr>
				<tr>
					<td style="text-align: center;">26</td>
					<td>Соединения неразъемные (Методическая карта)</td>
					<td>В.М.&nbsp;Лебедев</td>
					<td>2001</td>
				</tr>
				<tr>
					<td style="text-align: center;">27</td>
					<td>Соединения заклепками (Методическая карта) Примеры выполнения чертежей</td>
					<td>В.М.&nbsp;Лебедев</td>
					<td>2001</td>
				</tr>
				<tr>
					<td style="text-align: center;">28</td>
					<td><a href="{$resPath}files/tutorials/28.gif">«Задача 1» (ШРИФТ) Методическая карта</a></td>
					<td>В.М.&nbsp;Лебедев</td>
					<td>1998</td>
				</tr>
				<tr>
					<td style="text-align: center;">29</td>
					<td><a href="{$resPath}files/tutorials/29.gif">«Задача 2» (ВАЛИК) Методическая карта</a></td>
					<td>В.М.&nbsp;Лебедев</td>
					<td>1998</td>
				</tr>
				<tr>
					<td style="text-align: center;">30</td>
					<td>Карты программированного контроля «ТОЧКА» Вар.1-4</td>
					<td>Н.В.&nbsp;Лосев</td>
					<td>1985</td>
				</tr>
				<tr>
					<td style="text-align: center;">31</td>
					<td>Карты программированного контроля «ПРЯМАЯ» Вар.1-4</td>
					<td>Н.В.&nbsp;Лосев</td>
					<td>1985</td>
				</tr>
				<tr>
					<td style="text-align: center;">32</td>
					<td>Карты программированного контроля «ПЛОСКОСТЬ» Вар.1-4</td>
					<td>Н.В.&nbsp;Лосев</td>
					<td>1985</td>
				</tr>
				<tr>
					<td style="text-align: center;">33</td>
					<td>Исходные данные для работы «Пересечение плоскостей» (Таблица координат точек)</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td style="text-align: center;">34</td>
					<td>«Пересечение поверхностей» Варианты заданий (3 карточки)</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td style="text-align: center;">35</td>
					<td>«Пересечение поверхностей» Задания Варианты 1-30</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td style="text-align: center;">36</td>
					<td>«Сопряжение» Варианты 1-28 Индивидуальные варианты</td>
					<td>В.М.&nbsp;Лебедев</td>
					<td>1998</td>
				</tr>
				<tr>
					<td style="text-align: center;">37</td>
					<td>«Проекционное черчение» Контрольная работа Варианты 1-26</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td style="text-align: center;">38</td>
					<td><a href="{$resPath}files/tutorials/38.pdf">Проекционное черчение Задания 2,3 (Варианты 1-31)</a><br>
						<code><a href="{$resPath}files/tutorials/38.dwf"><b>3D модели и чертежи</b></a> (Скачать <a href="http://download.autodesk.com/esd/designreview/2011/ADR/bootstrap/en-us_ADR2011/AutodeskDesignRevSetup.exe">Autodesk&nbsp;Design&nbsp;Review</a>)</code></td>
					<td>С.М.&nbsp;Байкалова</td>
					<td>2010</td>
				</tr>

				<tr>
					<td style="text-align: center;"></td>
					<td><a href="{$resPath}files/tutorials/Metod_Ukazaniya_Proekcionnoe_Cherchenie.docx">Проекционное черчение. Методические указания к графической работе «Простые и сложные разрезы» [docx]</a><br>
						<a href="{$resPath}files/tutorials/Metod_Ukazaniya_Proekcionnoe_Cherchenie.pdf">Проекционное черчение. Методические указания к графической работе «Простые и сложные разрезы» [pdf]</a></td>
					<td>А.С.&nbsp;Назаров, Л.В.&nbsp;Сеньковская<br>
						А.С.&nbsp;Назаров, Л.В.&nbsp;Сеньковская</td>
					<td>2015</td>
				</tr>

				<tr>
					<td style="text-align: center;">39</td>
					<td>Проекционное черчение Задания 1,5 (Варианты 1-32)</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td style="text-align: center;">40</td>
					<td>Проекционное черчение Задания 4,6 (Варианты 1-32)</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td style="text-align: center;">41</td>
					<td>Деталирование сборочного чертежа 26 вариантов</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td style="text-align: center;">42</td>
					<td>Сборочный чертеж Варианты заданий</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td style="text-align: center;">43</td>
					<td>Варианты курсовой работы по проекционному черчению на базе Начертательной геометрии (Варианты 1-28)</td>
					<td>В.М.&nbsp;Лебедев</td>
					<td>2002</td>
				</tr>
				<tr>
					<td style="text-align: center;">44</td>
					<td>Пространственное моделирование трехмерных объектов сложной геометрической формы на основе программного комплекса 3D Studio MAX» «Основы работы» (Часть1)</td>
					<td>А.В.&nbsp;Силуянов<br>
						Л.Л.&nbsp;Хорошко</td>
					<td>2006</td>
				</tr>
				<tr>
					<td style="text-align: center;">45</td>
					<td>Пространственное моделирование трехмерных объектов сложной геометрической формы на основе программного комплекса 3D Studio MAX» «Геометрическое моделирование» (Часть2)</td>
					<td>А.В.&nbsp;Силуянов
						Л.Л.&nbsp;Хорошко</td>
					<td>2006</td>
				</tr>
				<tr>
					<td style="text-align: center;">46</td>
					<td>Пространственное моделирование трехмерных объектов сложной геометрической формы на основе программного комплекса 3D Studio MAX» «Модификация геометрических объектов». (Часть3)</td>
					<td>А.В.&nbsp;Силуянов<br>
						Л.Л.&nbsp;Хорошко</td>
					<td>2006</td>
				</tr>
				<tr>
					<td style="text-align: center;">47</td>
					<td>Информатика. Часть 1</td>
					<td>А.В.&nbsp;Силуянов<br>
						О.В.&nbsp;Подгорнова</td>
					<td>2006</td>
				</tr>
				<tr>
					<td style="text-align: center;">48</td>
					<td>Информатика. Часть 2</td>
					<td>А.В.&nbsp;Силуянов<br>
						О.В.&nbsp;Подгорнова<br>
						А.О.&nbsp;Тарасенкова</td>
					<td>2007</td>
				</tr>
				<tr>
					<td style="text-align: center;">49</td>
					<td><a href="{$resPath}files/tutorials/49.doc">«Начертательная геометрия». Конспект лекций для сокращенного курса (16 часов лекций, 32 часа практ. занятий).</a></td>
					<td>В.М.&nbsp;Лебедев</td>
					<td>2008</td>
				</tr>
				<tr>
					<td style="text-align: center;">50</td>
					<td>Программирование на языке высокого уровня. «Основные этапы разработки программы» Часть 1</td>
					<td>А.В.&nbsp;Силуянов<br>
						О.В.&nbsp;Подгорнова</td>
					<td>2007</td>
				</tr>
				<tr>
					<td style="text-align: center;">51</td>
					<td>Программирование на языке высокого уровня. «Стратегия изучения языка программирования высокого уровня» Часть 2</td>
					<td>А.В.&nbsp;Силуянов<br>
						О.В.&nbsp;Подгорнова</td>
					<td>2007</td>
				</tr>
				<tr>
					<td style="text-align: center;">52</td>
					<td>Программирование на языке высокого уровня. «Программирование динамических структур. Введение в объектно-ориентированное программирование» Часть 3</td>
					<td>А.В.&nbsp;Силуянов<br>
						О.В.&nbsp;Подгорнова</td>
					<td>2007</td>
				</tr>
				<tr>
					<td style="text-align: center;">53</td>
					<td>Компьютерная графика</td>
					<td>А.В.&nbsp;Силуянов<br>
						Л.Л.&nbsp;Хорошко</td>
					<td>2007</td>
				</tr>
				<tr>
					<td style="text-align: center;">54</td>
					<td>Преподаватель в среде электронного обучения</td>
					<td>А.В.&nbsp;Силуянов<br>
						А.О.&nbsp;Тарасенкова</td>
					<td>2007</td>
				</tr>
				<tr>
					<td style="text-align: center;">55</td>
					<td>Особенности разработки чертежей деталей Л.А</td>
					<td>Г.В.&nbsp;Никозова<br>
						Л.Л.&nbsp;Хорошко</td>
					<td>2007</td>
				</tr>
				<tr>
					<td style="text-align: center;">56</td>
					<td>Инженерная графика</td>
					<td>Н.Н.&nbsp;Граудина<br>
						Л.Н.&nbsp;Павлова</td>
					<td>2007</td>
				</tr>
				<tr>
					<td style="text-align: center;">57</td>
					<td>«Базы данных» (Введение в базы данных», 1 часть)</td>
					<td>А.В.&nbsp;Силуянов<br>
						А.О.&nbsp;Рыльская</td>
					<td>2007</td>
				</tr>
				<tr>
					<td style="text-align: center;">57</td>
					<td>Интеллектуальные системы автоматики<br>
						<a href="/admin/lections/2.0.1.rar">Configurator, Instance</a><br>
						<a href="/admin/lections/CE.rar">Программа редактор электрических цепей</a><br>
						<a href="/admin/lections/doc_CE.rar">Документация по программе редактор электрических цепей</a><br>
						<a href="/admin/lections/doc1_logical.rar">Документация по логическим компонентам</a><br>
						<a href="/admin/lections/doc2_visual.rar">Документация по визуальным компонентам</a><br>
						<a href="/admin/lections/lectConfigurator.ppt">Презентация по установке JRE и Configurator 1.7</a><br>
						<b><a href="/admin/lections/ebook.rar">Курс ИСА</a></b><br>
						<br>
						<a href="/admin/lections/kurs1.rar">Первая часть курсовой для 42 группы</a></td>
					<td>А.В.&nbsp;Силуянов</td>
					<td>2008</td>
				</tr>
				<tr>
					<td style="text-align: center;">58</td>
					<td>Основы подготовки ЕСКД</td>
					<td>А.В.&nbsp;Силуянов<br>
						Л.Л.&nbsp;Хорошко<br>
						Р.С.&nbsp;Чернявский</td>
					<td>2007</td>
				</tr>
				<tr>
					<td style="text-align: center;">59</td>
					<td>Основы работы с прикладным программным обеспечением</td>
					<td>А.В.&nbsp;Силуянов<br>
						А.О.&nbsp;Рыльская</td>
					<td>2007</td>
				</tr>
				<tr>
					<td style="text-align: center;">60</td>
					<td><a href="{$resPath}files/tutorials/60.doc">Учебное пособие к индивидуальному
						заданию "Метрические задачи"</a></td>
					<td>С.М.&nbsp;Байкалова</td>
					<td>2010</td>
				</tr>
				<tr>
					<td style="text-align: center;">61</td>
					<td><a href="{$resPath}files/tutorials/SMIIG_uchebnaya_praktika.doc">СМиИГ учебная практика</a></td>
					<td>Л.Л.&nbsp;Хорошко</td>
					<td>2011</td>
				</tr>
				<tr>
					<td style="text-align: center;">62</td>
					<td><a href="{$resPath}files/tutorials/SMIIG_proizvodstvennaya_praktika.doc">СМиИГ производственная практика</a></td>
					<td>Л.Л.&nbsp;Хорошко</td>
					<td>2011</td>
				</tr>
				<tr>
					<td style="text-align: center;">63</td>
					<td><a href="{$resPath}files/tutorials/bilet_0.doc">Билет № 0 к вступительному экзамену в Магистратуру</a></td>
					<td>Кафедра СМиИГ</td>
					<td>2011</td>
				</tr>
				<tr>
					<td style="text-align: center;">64</td>
					<td><a href="{$resPath}files/tutorials/64.pdf">Эскизирование детали. Методические указания</a></td>
					<td>А.С.&nbsp;Назаров<br>
						Л.В.&nbsp;Сеньковская</td>
					<td>2014</td>
				</tr>
				<tr>
					<td style="text-align: center;">65</td>
					<td><a href="{$resPath}files/tutorials/65.pdf">Чтение и деталирование чертежа общего вида. Методические указания</a></td>
					<td>А.С.&nbsp;Назаров<br>
						Л.В.&nbsp;Сеньковская</td>
					<td>2014</td>
				</tr>
				<tr>
					<td style="text-align: center;">66</td>
					<td><a href="{$resPath}files/tutorials/66.doc">Размерные цепи на чертежах деталей. Методические указания</a></td>
					<td>А.С.&nbsp;Назаров<br>
						Л.В.&nbsp;Сеньковская</td>
					<td>2014</td>
				</tr>
				<tr>
					<td style="text-align: center;">67</td>
					<td><a href="{$resPath}files/tutorials/67.pdf">Альбом заданий для графической работы «Чтение и деталирование чертежа общего вида»</a></td>
					<td>А.С.&nbsp;Назаров<br>
						Л.В.&nbsp;Сеньковская</td>
					<td>2014</td>
				</tr>
				<tr>
					<td style="text-align: center;">68</td>
					<td><a href="{$resPath}files/tutorials/68.doc">Практикум по начертательной геометрии с сокращениями</a></td>
					<td>В.М.&nbsp;Лебедев</td>
					<td>2014</td>
				</tr>
				<tr>
					<td style="text-align: center;">69</td>
					<td><a href="{$resPath}files/tutorials/69.rar">Неразъёмные соединения</a></td>
					<td>В.М.&nbsp;Лебедев</td>
					<td>2001</td>
				</tr>
			</table>
		</div>
	</div>
{% endblock content %}