{% extends 'layout/base.html' %}

{% block content %}
    {% include 'layout/extra_nav.html' %}

    <img src="{{ static('images/other/abiturients.jpg') }}" class="picture-head" alt="Абитуриентам">
    <aside class="width-20 top subnav-vertical animation-fade animation-delay-3">
        <p>Указатель</p>
        <a href="#1">Направления подготовки</a>
        <a href="#2">Материальная база кафедры</a>
        <a href="#3">Опыт кафедры</a>
        <a href="#4">Будущее студентов</a>
        <a href="about/contacts">Контактная информация</a>
    </aside>
    <article class="width-70 animation-fade animation-delay-4">
        <h1 class="margin-large">Информация для абитуриентов</h1>
        <section class="spanel padding-large">
            <h2 id="1">Направления подготовки</h2>
            <p>Кафедра осуществляет подготовку бакалавров и магистров по направлению:</p>
            <ul>
                <li>090301 (бакалавр) и 090401 (магистр) <b>«Информатика и вычислительная техника»</b><br>
                    <i>(Срок обучения: бакалавр – 4 года, магистр – 2 года)</i></li>
            </ul>
            <p>Студенты кафедры получают фундаментальные знания и опыт проектирования и разработки больших
                информационных систем по направлению подготовки:</p>
            <ul>
                <li>Распределенные автоматизированные системы;</li>
                <li>Базы данных;</li>
                <li>Сети ЭВМ и телекоммуникации;</li>
                <li>Элементы и устройства вычислительной техники и информационных систем;</li>
                <li>Системы мультимедиа и компьютерная графика.</li>
            </ul>
            <p>Вследствие этого при обучении на кафедре особое внимание уделяется следующим дисциплинам:</p>
            <ul>
                <li>Алгоритмические языки и программирование;</li>
                <li>Web-программирование;</li>
                <li>Базы данных;</li>
                <li>Организация ЭВМ;</li>
                <li>Основы программирования на языке Java;</li>
                <li>Программирование микроконтроллеров;</li>
                <li>Интеллектуальные системы автоматики;</li>
                <li>Компьютерная графика;</li>
                <li>Компьютерное моделирование пространственных форм;</li>
                <li>Компьютерная графика;</li>
                <li>Разработка САПР.</li>
            </ul>
            <p>
                На кафедре особое внимание уделяется изучению английского языка. Для студентов специально
                разработано несколько специализированных, тематических курсов. Также наши студенты проходят обучение
                на <b>военной кафедре</b> и после окончания Университета получают звание лейтенанта запаса.
            </p>
        </section>

        <section class="spanel padding-large">
            <h2 id="2">Материальная база кафедры</h2>
            <p>
                Студенты кафедры имеют возможность получать практические навыки, работая непосредственно с уже
                внедренными и успешно функционирующими системами. Так, например, кафедра является корпоративным
                провайдером и имеет биллинговую систему собственной разработки. Специалистами кафедры спроектирована
                и внедрена Единая Информационная Система МАТИ, включающая систему электронного документооборота,
                систему учета успеваемости, систему приемной комиссии; программно-аппаратный комплекс на базе
                мультифункционального программируемого контроллера и социальной карты москвича, включающий систему
                безопасности, систему контроля доступа, систему автоматизации библиотеки. Все вышеперечисленные
                системы базируются на современных широко используемых IT-технологиях, таких как <b>Oracle Database
                Server</b>, <b>Unix (Linux, FreeBSD)</b>, <b>PHP/HTML</b>, <b>Java</b>, <b>Microsoft .NET</b>.
            </p>
            <p>
                Хорошая материальная база кафедры стала возможной в связи с ее тесным сотрудничеством с Управлением
                информатизации и средств связи МАИ, а также с Институтом заочного обучения. Управление, ведя свою
                научную деятельность, активно принимало на стажировку и работу студентов и аспирантов других кафедр,
                предоставляя им возможность получения опыта и успешного трудоустройства после окончания
                Университета. Вследствие этого учащиеся могли начинать свою профессиональную деятельность и
                получение практического опыта работы после 4-го года обучения. В настоящее время студенты получают
                возможность получать практические знания и работать уже со 2-го года обучения.
            </p>
            <p>
                Среди сотрудников кафедры есть сертифицированные специалисты компании Autodesk, прошедших обучение в
                авторизованных центрах, а также эксперты Гостехкомиссии.
            </p>
        </section>
        <section class="spanel padding-large">
            <h2 id="3">Опыт кафедры</h2>
            <p>
                Кафедра имеет большой опыт автоматизации различных объектов, на таких предприятиях, как <b>Профсоюз
                железнодорожников и транспортных строителей</b>, <b>Отдел учета главного таможенного управления
                РФ</b>, <b>Федеральная дорожная служба РФ</b>, <b>дирекция автодороги «Москва-Волгоград»</b>,
                <b>Ряжский и Московский автодорожный техникум</b>, <b>Московское высшее военно-дорожное училище</b>,
                <b>МАТИ</b>. В настоящее время одна из разработок внедряется в <b>Библиотеке иностранной
                литературы</b>. Кафедра сотрудничает с <b>департаментом гражданской защиты МЧС</b>, делая упор
                на совместную разработку и интеграцию мехатронических систем. Инициировано создание
                специализированной лаборатории <b>ДГЗ МЧС МАТИ</b>.
            </p>
            <p>
                Кафедра имеет опыт обучения сотрудников российских представительств зарубежных компаний, например,
                <b>«General Electrics»</b>.
            </p>
        </section>
        <section class="spanel padding-large">
            <h2 id="4">Будущее студентов</h2>
            <p>
                Будущие выпускники кафедры могут быть трудоустроены на ведущие предприятия авиакосмической отрасли
                такие как: АООТ ОКБ им. П.О. Сухого, КБ «Тяжелого машиностроения», ФГУП ГКНПЦ им. М.В. Хруничева. Но
                многие студенты МАТИ, проходившие стажировку в УИиСС занимают вакансии в следующих известных
                компаниях: <b>General Electric</b>, <b>IBM</b>, <b>Ростелеком</b>, <b>Aztech</b>, <b>Федеральная
                дорожная служба</b>, <b>РИНЕТ</b>, <b>Московский комитет по науке и технике</b>, <b>АО Телеком</b>.
            </p>
            <p>
                Студенты кафедры могут проходить стажировку не только в УИиСС, но и в других IT-компаниях, например
                таких как: <b>Мобильные телесистемы</b>, <b>Видеоинтернейшнл</b>.
            </p>
        </section>
        <section class="spanel padding-large">
            <h2 id="5"><a href="{{ url('contacts') }}">Контактная информация кадедры «СМиАП»</a></h2>
        </section>
    </article>
{% endblock content %}