{% extends 'layout/base.html' %}

{% block content %}
    {% include 'layout/extra_nav.html' %}

    <img src="{{ static('images/other/programs.jpg') }}" class="picture-head" alt="Программы">
    <article class="grid2 center animation-delay-2">
        <h1 class="padding-large">Программа обучения</h1>

        <section class="grid2 center padding-medium animation-delay-2" style="border-bottom: 1px solid #EEE;">
            <h2 class="padding-medium">Курс 1</h2>
            <div class="column justify top">
                <h3 class="center">1 семестр (54 час. лекций + 84 час. пр. занятий)</h3>
                <ol>
                    <li>Информатика:
                        <ul class="font-small">
                            <li>Системы счисления;</li>
                            <li>Перевод чисел в различные системы счисления;</li>
                            <li>Операции над числами в различных системах счисления;</li>
                            <li>Представления различных чисел в памяти компьютера.</li>
                        </ul>
                    </li>
                    <li>Алгоритмические языки и программирование:
                        <ul class="font-small">
                            <li>Введение в программирование на языке Си;</li>
                            <li>Процесс и этапы компиляции программы;</li>
                            <li>Стандартные библиотеки в языке программирования Си;</li>
                            <li>Базовые типы данных;</li>
                            <li>Базовые алгоритмы сортировки.</li>
                        </ul>
                    </li>
                    <li>Организация электронного документооборта на основе Microsoft Office Word:
                        <ul class="font-small">
                            <li>Введение в Microsoft Office Word;</li>
                            <li>Методики и техники ускоренной работы в Word;</li>
                            <li>Стандарты документов и настройка документов в Word;</li>
                            <li>Форматирование текста в соответствии со стандартами;</li>
                            <li>Стили и их использование.</li>
                        </ul>
                    </li>
                </ol>
            </div>
            <div class="column justify top">
                <h3 class="center">2 семестр (16 час. лекций + 52 час. пр. занятий)</h3>
                <ol>
                    <li>Математическая логика и теория алгоритмов;</li>
                    <li>Анализ данных с использованием Microsoft Office Excel
                    </li>
                    <li>Алгоритмические языки и программирование:
                        <ul class="font-small">
                            <li>Использование сторонних библиотек библиотек на примере псевдографики;</li>
                            <li>Работа с файлами;</li>
                            <li>Работа со связными списками;</li>
                            <li>Алгоритмы шифрования;</li>
                            <li>Работа с деревьями.</li>
                        </ul>
                    </li>
                    <li>Учебная практика.</li>
                </ol>
            </div>
        </section>
        <section class="grid2 center animation-fade padding-large"
                 style="border-bottom: 1px solid #EEE; background: #FCFCFC">
            <h2 class="padding-large">Курс 2</h2>
            <div class="column justify top">
                <h3 class="center">3 семестр (104 час. лекций + 138 час. пр. занятий)</h3>
                <ol>
                    <li>Web-технологии:
                        <ul class="font-small">
                            <li>История Internet и Web;</li>
                            <li>Общие принципы построения и функционирования сети Internet;</li>
                            <li>Основы теории разметки. Введение в язык HTML;</li>
                            <li>Каскадные таблицы стилей (CSS);</li>
                            <li>Кроссплатформенная верстка;</li>
                            <li>SSI (Server-Side Includes) — включения на стороне сервера.</li>
                        </ul>
                    </li>
                    <li>Компьютерная графика;</li>
                    <li>Базы данных;</li>
                    <li>Компьютерное обеспечение процесса обучения.</li>
                </ol>
            </div>
            <div class="column justify top">
                <h3 class="center">4 семестр (152 час. лекций + 212 час. пр. занятий)</h3>
                <ol>
                    <li>Базы данных;</li>
                    <li>Объектно-ориентированное программирование:
                        <ul class="font-small">
                            <li>Введение в объектно-ориентированное программирование на языке C++;</li>
                            <li>Структура и использование классов в программировании;</li>
                            <li>Инкапсуляция в ООП;</li>
                            <li>Наследование и UML-диаграммы;</li>
                            <li>Полиморфизм в ООП.</li>
                        </ul>
                    </li>
                    <li>Компьютерное моделирование пространственных форм:
                        <ul class="font-small">
                            <li>Виды и подходы к моделированию;</li>
                            <li>Базовые понятия: модель, объект, сцена, виртуальное пространство;</li>
                            <li>Интерфейс программы 3ds Max;</li>
                            <li>Моделирование с использованием библиотек стандартных параметрических объектов;</li>
                            <li>Привязки и работа с ними;</li>
                            <li>Организация объектов в сцене;</li>
                            <li>Модификаторы;</li>
                            <li>Типы моделей, работа с ними;</li>
                            <li>Материалы;</li>
                            <li>Визуализация.</li>
                        </ul>
                    </li>
                    <li>Web-программирование:
                        <ul class="font-small">
                            <li>HTML-формы, типы запросов;</li>
                            <li>Динамические и статические Web-страницы;</li>
                            <li>Введение в PHP;</li>
                            <li>Назначение и работа с cookie;</li>
                            <li>Создание и использование сессий;</li>
                            <li>Взаимодействие с СУБД;</li>
                            <li>Назначение и использование регулярныъ выражений.</li>
                        </ul>
                    </li>
                    <li>Организация ЭВМ;</li>
                    <li>Учебная практика.</li>
                </ol>
            </div>
        </section>
        <section class="grid2 center animation-fade padding-large"
                 style="border-bottom: 1px solid #EEE;">
            <h2 class="padding-large">Курс 3</h2>
            <div class="column justify top">
                <h3 class="center">5 семестр (112 час. лекций + 202 час. пр. занятий)</h3>
                <ol>
                    <li>Методы оптимизации;</li>
                    <li>Дискретная математика;</li>
                    <li>Web-программирование;</li>
                    <li>Основы подготовки конструкторской документации;</li>
                    <li>Основы программирования на языке Java;</li>
                    <li>Интеллектуальные системы автоматики.</li>
                </ol>
            </div>
            <div class="column justify top">
                <h3 class="center">6 семестр (116 час. лекций + 192 час. пр. занятий)</h3>
                <ol>
                    <li>Теория принятия решений;</li>
                    <li>Операционные системы;</li>
                    <li>Интеллектуальные системы автоматики;</li>
                    <li>Технологии удаленного обучения;</li>
                    <li>Разработка САПР;</li>
                    <li>Производственная практика.</li>
                </ol>
            </div>
        </section>
        <section class="grid2 center animation-fade padding-large"
                 style="background: #FCFCFC">
            <h2 class="padding-large">Курс 4</h2>

            <div class="column justify top">
                <h3 class="center">7 семестр (96 час. лекций + 168 час. пр. занятий)</h3>
                <ol>
                    <li>Математическое моделирование;</li>
                    <li>Разработка САПР;</li>
                    <li>Моделирование информационных систем;</li>
                    <li>Программирование микроконтроллеров.</li>
                </ol>
            </div>
            <div class="column justify top">
                <h3 class="center">8 семестр (64 час. лекций + 108 час. пр. занятий)</h3>
                <ol>
                    <li>Твердотельное параметрическое моделирование;</li>
                    <li>Стандартизация и сертификация программного обеспечени;</li>
                    <li>Интегрированные системы технической подготовки производства;</li>
                    <li>Преддипломная практика.</li>
                </ol>
            </div>
        </section>
    </article>
{% endblock content %}
