{% extends 'layout/base.html' %}

{% block content %}
    <section class="homepage center">
        <div class="present limit-1024">
            {% include 'layout/message_warning.html' %}
            {% if teach_state.SUMMER_HOLIDAYS %}
               {# Ломается стили у последующих блоков. Лечится фиксом css, либо комментированием этого блока. #}
               {# {% include 'layout/index_abiturient.html' %} #}
            {% else %}
                <div class="app column full animation-fade animation-tiles" style="height: 0; width: 0; margin: 0; padding: 0; box-shadow: none; background: none"></div>
            {% endif %}
            <div class="app column small center animation-fade animation-tiles animation-delay-1">
                <div class="studyweeks">
                    <span class="word start" style="font-size: 1.5em">{{ date_block.text }}</span>
                    <span class="number" style="font-size: 6em">{{ date_block.num }}</span>
                    <span class="word">{{ date_block.desc }}</span>
                    <div class="buttons">
                        <a href="{{ url('timetable') }}" class="button_primary">Расписание занятий</a>
                    </div>
                </div>
            </div>

            <div class="app column large animation-fade animation-tiles animation-delay-2">
                <div class="lastnews">
                    <h1>Последние публикации</h1>
                    <ul>
                        {% for news in latest_news %}
                            <li>
                                {{ news.date.strftime('%-d %B %Y') | title }} -
                                <a href="{{ news.get_url() }}">{{ news.title }}</a>
                            </li>
                        {% else %}
                            Последних публикаций нет...
                        {% endfor %}
                    </ul>
                    <div class="buttons">
                        <a href="{{ url('news-list-begin') }}" class="button_primary">Все новости</a>
                    </div>

                </div>

            </div>

            <div class="app column small center animation-fade animation-tiles animation-delay-1">
                <div class="smallteaser">
                    <img src="{{ static('images/icons/abiturients.png') }}" alt="Абитуриенты">

                    <p>Набор абитуриентов осуществляется по направлению подготовки «Информатика и вычислительная
                        техника».
                        Срок
                        обучения: бакалавр – 4 года, магистр – 2 года.</p>
                </div>

            </div>

            <div class="app column small center animation-fade animation-tiles animation-delay-2">
                <div class="smallteaser">
                    <img src="{{ static('images/icons/technique.png') }}" alt="Техника">

                    <p>Аудиторная работа студентов ведется с использованием в учебном процессе современной лабораторной
                        базы,
                        оснащенной необходимым оборудованием.</p>
                </div>

            </div>

            <div class="app column small center animation-fade animation-tiles animation-delay-3">
                <div class="smallteaser">
                    <img src="{{ static('images/icons/graduation.png') }}" alt="Выпускники">

                    <p>Будущие выпускники кафедры получают фундаментальные знания и опыт проектирования и разработки
                        больших
                        информационных систем.</p>
                </div>

            </div>
        </div>
    </section>
{% endblock content %}
