{% extends 'layout/base.html' %}

{% block title %}
    {{ news.title }} :: Новости :: {{ APP_TITLE }}
{% endblock title %}

{% block description %}
    {{ news.description }}
{% endblock description %}

{% block thumbnail %}
    {% if news.newscover %}
        {{ SCHEME }}://{{ DOMAIN }}{{ news.newscover.img.url if news.newscover.img else '' }}
    {% elif news.cover %}
        {{ SCHEME }}://{{ DOMAIN }}{{ news.cover.url }}
    {% else %}
        {{ SCHEME }}://{{ DOMAIN }}{{ static('favicon.ico') }}
    {% endif %}
{% endblock thumbnail %}

{% block content %}
    {% include 'layout/extra_nav.html' %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a title="К новостям" href="{{ url('news:news-list') }}">Новости</a>
                </li>
                <li class="breadcrumb-item">
                    <a title="Выбрать год"
                       href="{{ url('news:news-list', kwargs={'date__year': news.date.strftime('%Y') }) }}">
                        {{ news.date.strftime('%Y') }}
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a title="Выбрать месяц"
                       href="{{ url('news:news-list', kwargs={'date__year': news.date.strftime('%Y'), 'date__month': news.date.strftime('%m') }) }}">
                        {{ news.date.strftime('%m') }}
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a title="Выбрать день"
                       href="{{ url('news:news-list', kwargs={'date__year': news.date.strftime('%Y'), 'date__month': news.date.strftime('%m'), 'date__day': news.date.strftime('%d') }) }}">
                        {{ news.date.strftime('%d') }}
                    </a>
                </li>
            </ol>
        </nav>

        <article>
            <h1 class="fw-light mb-3 text-center">{{ news.title }}</h1>
            {{ news.text | news_text(news.id) | safe }}
        </article>
    </div>

    {% if not news.hidden %}
        <aside class="news-aside" style="margin: 5px;">
            {% if last_news %}
                <h4 class="bottom-line">Последние новости</h4>
                {% for n in last_news %}
                    <div class="row p-1">
                        <span class="col-md-2 text-muted text-md-end">{{ n.date.strftime('%-d %B %Y') | title }}</span>
                        <a class="col" href="{{ n.get_absolute_url() }}"><span>{{ n.title }}</span></a>
                    </div>
                {% endfor %}
            {% endif %}
        </aside>
    {% endif %}

    {% if news.hidden %}
        <h3>Как эта новость выглядела бы в списке новостей</h3>
        <div class="card mb-3" id="{{ news.pk }}">
            <div class="row g-0">
                <div class="col-lg-5 col-xl-4">{% include 'layout/news_cover.html' %}</div>
                <div class="col-lg-7 col-xl-8">
                    <div class="card-body">
                        <a href="{{ news.get_absolute_url() }}" class="news-title_link">
                            <h5 class="card-title">{{ news.title }}</h5>
                        </a>
                        <p class="card-text">
                            <small class="text-muted">{{ news.date.strftime('%-d %B %Y') | title }}</small>
                        </p>
                        <div class="description">{{ news.description | markdown | safe }}</div>
                        <a class="btn btn-primary text-secondary" href="{{ news.get_absolute_url() }}">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="modal fade" id="image-modal" tabindex="-1" role="dialog" aria-labelledby="imagePreview"
         aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Предпросмотр</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <a href="" class="image-link" target="_blank">
                    <img src="" class="image-preview" style="width: 100%;" alt="large image preview"/>
                </a>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $('.pop').on('click', function () {
                let imageSrc = $(this).find('img').attr('src')
                $('.image-preview').attr('src', imageSrc);
                $('.image-link').attr('href', imageSrc);
                $('#image-modal').modal('show');
            });
        });
    </script>
{% endblock content %}