{% extends 'layout/base.html' %}

{% block title %}
    Новости :: Материалы :: {{ APP_TITLE }}
{% endblock title %}

{% block description %}
    Последние новости на сайте кафедры Системное Моделирование и Автоматизированное проектирование (СМиАП МАИ)
{% endblock description %}

{% block content %}
    {% include 'layout/extra_nav.html' %}

    <h1 class="fw-light mb-3 text-center">Новости</h1>

    {% for news in news_list %}
        <div class="card rounded mb-3" id="{{ news.pk }}">
            <div class="row g-0">
                <div class="col-lg-5 col-xl-4">
                    {% include 'layout/news_cover.html' %}
                </div>
                <div class="col-lg-7 col-xl-8">
                    <div class="card-body">
                        <a href="{{ news.get_absolute_url() }}" class="news-title_link">
                            <h5 class="card-title">{{ news.title }}</h5>
                        </a>
                        <p class="card-text"><small
                                class="text-muted">{{ news.date.strftime('%-d %B %Y') | title }}</small></p>
                        <div class="description">
                            {{ news.description | markdown | safe }}
                        </div>
                        <a class="btn btn-primary text-secondary" href="{{ news.get_absolute_url() }}">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h5 style="margin: 20px 10px">На данный момент новостей нет...</h5>
    {% endfor %}

    {% if is_paginated %}
        {% set disabled_previous = '' if page_obj.has_previous() else 'disabled' %}
        {% set disabled_next = '' if page_obj.has_next() else 'disabled' %}
        {% set previous_page_number = page_obj.previous_page_number() if page_obj.has_previous() else 1 %}
        {% set next_page_number = page_obj.next_page_number() if page_obj.has_next() else 1 %}

        <nav aria-label="Page pagination">
            <ul class="pagination justify-content-center">
                <li class="page-item {{ disabled_previous }}">
                    <a class="page-link"
                       href="{{ url('news:news-list', kwargs={'number': previous_page_number}) }}"
                       aria-label="Previous"
                    >
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                {% for page in page_obj.paginator.get_elided_page_range(page_obj.number, on_each_side=2, on_ends=2) %}
                    {% set active = 'active' if page == page_obj.number else '' %}

                    <li class="page-item {{ active }}" aria-current="page">
                        {% if page == page_obj.paginator.ELLIPSIS %}
                            <a class="page-link disable">{{ page }}</a>
                        {% else %}
                            <a class="page-link"
                               href="{{ url('news:news-list', kwargs={'number': page}) }}"
                            >
                                {{ page }}
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}

                <li class="page-item {{ disabled_next }}">
                    <a class="page-link"
                       href="{{ url('news:news-list', kwargs={'number': next_page_number}) }}"
                       aria-label="Next"
                    >
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}
{% endblock content %}