{% extends "layout/base.html" %}

{% block content %}

    <div class="about">
        <h2 class="center auth-heading animation-fade">Регистрация</h2>
        <div class="">
        </div>
    </div>


    <div class="auth-input-group animation-delay-2 animation-fade">
        {% for error in form.non_field_errors() %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
        <form method="post" action="">
            {{ csrf_input }}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}

                {{ field.label_tag() }}
                {{ field }}
            {% endfor %}
            <input class="auth-button" type="submit" value="зарегистрироваться">
        </form>
    </div>
{% endblock %}
