{% extends 'layout/base.html' %}

{% block title %}
    История кафедры :: О кафедре :: {{ APP_NAME }}
{% endblock title %}

{% block content %}
    {% include 'layout/extra_nav.html' %}

    {{ flatpage.content }}

    <nav aria-label="Page pagination">
        <ul class="pagination justify-content-center">
            <li class="page-item {{ disabled_previous }}">
                <a class="page-link"
                   href="{{ url('history', kwargs={'number': 1}) }}"
                   aria-label="Previous"
                >
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            {% for num in available %}
                {% set active = 'active' if num == current else '' %}

                <li class="page-item {{ active }}" aria-current="page">
                    <a class="page-link"
                       href="{{ url('history', kwargs={'number': num}) }}"
                    >
                        {{ num }}
                    </a>
                </li>
            {% endfor %}

            <li class="page-item {{ disabled_next }}">
                <a class="page-link"
                   href="{{ url('history', kwargs={'number': available|length}) }}"
                   aria-label="Next"
                >
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock content %}

{% block history_nav %}

{% endblock history_nav %}