{% extends 'layout/base.html' %}

{% block content %}
    <div class="row row-cols-1 mb-2">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    {{ important_message | safe }}
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-lg-2 mb-2 g-2">
        <div class="col-lg-4">
            <div class="card bg-light-blue h-100">
                <div class="card-body text-center">
                    <p class="text-secondary fs-4 fw-light">{{ date_block.text }}</p>
                    <p class="text-secondary display-1 fw-light">{{ date_block.num }}</p>
                    <p class="text-secondary fs-2 fw-light">{{ date_block.desc }}</p>
                    <a class="btn btn-secondary" href="{{ url('schedule:timetable') }}" role="button">Расписание
                        занятий</a>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            {#            <div class="card bg-grass h-100">#}
            {#                <div class="card-body">#}
            {#                    <h3 class="text-center fw-light">Последние новости</h3>#}
            {#                    <ul>#}
            {#                        {% for news in latest_news %}#}
            {#                            <li>#}
            {#                                {{ news.date.strftime('%-d %B %Y') | title }} -#}
            {#                                <a href="{{ news.get_absolute_url() }}">{{ news.title }}</a>#}
            {#                            </li>#}
            {#                        {% else %}#}
            {#                            Последних новостей нет...#}
            {#                        {% endfor %}#}
            {#                    </ul>#}
            {#                    <div class="text-center">#}
            {#                        <a class="btn btn-primary text-secondary" role="button" href="{{ url('news:news-list') }}" class="button_primary">Все новости</a>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
            <div id="carouselExampleCaptions" class="card carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {% for i in range(latest_news | length) %}
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ i }}" class="{{ 'active' if loop.first else '' }}"
                                aria-current="{{ 'true' if loop.first else '' }}" aria-label="Slide {{ i + 1 }}"></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for news in latest_news %}
                        <div class="carousel-item align-center {{ 'active' if loop.first else '' }}">
                            {% include 'layout/news_cover.html' %}
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{ news.title }}</h5>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    {{ index_blocks.content }}
{% endblock content %}
