<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="yandex-verification" content="5b160891a3893f11" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="{% block description %}Сайт кафедры Системное Моделирование и Автоматизированное проектирование (СМиАП МАИ){% endblock description %}">
    <meta name="og:image" content="{% block thumbnail %}{{ SCHEME }}://{{ DOMAIN }}{{ static('favicon.ico') }}{% endblock thumbnail %}">
	<meta name="keywords" content="смиап smiap маи мати системное моделирование автоматизированное проектирование инженерная графика ИТ программирование autocad веб web php java c c++ расписание учебные пособия информационные технологии">

    {% compress css %}
{#	    <link rel="stylesheet" href="{% sass_src 'stylesheets/smiig-custom_styles.scss' %}">#}
	    <link rel="stylesheet" href="{% sass_src 'stylesheets/root.scss' %}">
    {% endcompress %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="{{ static('stylesheets/selectric.css') }}">
	<link rel="icon" type="image/x-icon" href="{{ static('favicon.ico') }}">

	<link rel="stylesheet" type="text/css" href="{{ static('stylesheets/lightbox.min.css') }}">

	<script src="{{ static('scripts/jquery-3.2.1.min.js') }}" type="text/javascript"></script>
	<script src="{{ static('scripts/lib.js') }}" type="text/javascript"></script>

	<!-- vk share -->
	<script type="text/javascript" src="https://vk.com/js/api/share.js?93" charset="windows-1251"></script>

    <title>
        {% block title %}{{ APP_TITLE }}{% endblock title %}
    </title>

    {% block head %}{% endblock head %}
</head>
<body>
    {% include 'layout/header.html' %}

    <div class="container-md bg-secondary my-4 p-2">
        <main>
            {% block content %}{% endblock content %}
        </main>
    </div>

    {% include 'layout/footer.html' %}
</body>
</html>
