<ul class="nav nav-pills justify-content-center">
    {% for key, item in NAV_ITEMS.items() %}
        {% if item['id'] in ACTIVE_ITEMS %}
            {% for subitem in item['subitems'] %}
    			{% if ACTIVE_ITEMS[-1] == subitem['id'] %}
    				{% set activeitem = "active" %}
    				{% set delay = "" %}
    			{% endif %}
                    <li class="nav-item">
    			        <a href="{{ subitem['link'] }}"
                           class="nav-link {{ activeitem }}"
                           aria-current="page"
                        >
                            {{ subitem['title'] }}
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
    {% endfor %}
</ul>
<hr/>