<div class="bg-primary">
    <div class="container">
        <header class="navbar navbar-expand">
            <div class="container-fluid">
                <a href="/">
                    <img class="d-inline-block align-text-top logo" alt="Кафедра СМиАП"
                         src="{{ static('images/logo_smiap.png') }}">
                </a>
                <img class="d-inline-block align-text-top logo" alt="decorate logo"
                     src="{{ static('images/decorate_logo.png') }}">
                <a href="http://www.mai.ru" target="_blank">
                    <img class="logo" alt="Московский авиационный институт" src="{{ static('images/logo_mai.png') }}">
                </a>
            </div>
            <div class="searchbar" style="display: none">
                <form method="get" action="#">
                    <input type="text" name="search" placeholder="Поиск по сайту">
                    <button type="submit" name="getsearch">
                    </button>
                </form>
            </div>
        </header>
    </div>
</div>

<nav class="bg-primary sticky-top navbar navbar-expand-lg navbar-light">
    <div class="container container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% for key, item in NAV_ITEMS.items() if not item['hidden'] %}
                    {% if item['id'] in ACTIVE_ITEMS %}
                        {% set activeitem = "active" %}
                    {% else %}
                        {% set activeitem = "" %}
                    {% endif %}

                    {% set is_dropdown = item['subitems'] != [] %}
                    {% if is_dropdown %}
                        {% set parent = "dropdown" %}
                    {% else %}
                        {% set parent = "" %}
                    {% endif %}

                    <li class="nav-item {{ parent }}">
                        {% if is_dropdown %}
                            <a class="nav-link dropdown-toggle {{ activeitem }}" href="{{ item['link'] }}"
                               id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                {{ item['title'] }}
                            </a>
                        {% else %}
                            <a href="{{ item['link'] }}" class="nav-link {{ activeitem }}">{{ item['title'] }}</a>
                        {% endif %}

                        {% if item['subitems'] %}
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for subitem in item['subitems'] %}
                                    <li><a class="dropdown-item" href="{{ subitem['link'] }}">{{ subitem['title'] }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
