<div class="bg-primary">
    <div class="container">
        <header class="navbar navbar-expand">
            <div class="container-fluid">
                <a href="/">
                    <img class="d-inline-block align-text-top logo" alt="Кафедра СМиАП" src="{{ static('images/logo_smiap.png') }}">
                </a>
                <a href="http://www.mai.ru" target="_blank">
                    <img class="logo" alt="Московский авиационный институт" src="{{ static('images/logo_mai.png') }}">
                </a>
            </div>
        </header>
    </div>
</div>

<nav class="navbar navbar-expand-md navbar-light bg-primary">
    <div class="container container-fluid">
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% for key, item in NAV_ITEMS.items() if not item['hidden'] %}
                    {% if item['id'] in ACTIVE_ITEMS %}
                        {% set activeitem = "active" %}
                    {% else %}
                        {% set activeitem = "" %}
                    {% endif %}

                    {% set is_dropdown = item['subitems'] != [] %}
                    {% if is_dropdown %}
                        {% set parent = "dropdown" %}
                    {% else %}
                        {% set parent = "" %}
                    {% endif %}

                    <li class="nav-item {{ parent }}">
                        {% if is_dropdown %}
                            <a class="flex-sm-fill text-sm-center nav-link dropdown-toggle {{ activeitem }}"
                               href="{{ item['link'] }}"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false"
                            >
                                {{ item['title'] }}
                            </a>
                        {% else %}
                            <a class="flex-sm-fill text-sm-center nav-link {{ activeitem }}"
                               href="{{ item['link'] }}"
                            >
                                {{ item['title'] }}
                            </a>
                        {% endif %}

                        {% if item['subitems'] %}
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for subitem in item['subitems'] %}
                                    <li><a class="dropdown-item" href="{{ subitem['link'] }}">{{ subitem['title'] }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
