<div class="app column full animation-fade animation-tiles" style="/*background-color: #fcd135;*/">
    <div class="teaser">
        <div class="width-30 middle">
            <img src="{{ static('images/other/priem_company.png') }}" class="teaser-img" alt="Приемная кампания">
        </div>
        <div class="width-60 middle center">
            <h1>Приемная кампания МАИ</h1>
            <p>Узнайте, что вас ожидает на нашей кафедре</p>
            <p><a href="{{ url('abiturients') }}" class="button_primary">Подробнее</a></p>
        </div>
        <!--<div class="middle center">
            <h1 style="color: #444;"><b>Прием документов по восстановлению и переводу</b></h1>
            <p>с 10 декабря по 26 декабря 2018 года.</p>
            <h1 style="color: #444;"><b>Междисциплинарное тестирование</b></h1>
            <p>27 декабря 2018 года</p>
            <p>в 18.00 в зале "А" корпуса № 3</p>
        </div>
        -->
    </div>
</div>
