<table class="table table-striped">
    <tr class="bg-primary text-secondary">
        <th>Название</th>
        <th>Мероприятие</th>
        <th>Авторы</th>
    </tr>
    {% for publication in publications %}
        <tr id="{{ publication.id }}">
            <td>{{ publication.name }} <a href="#{{ publication.id }}" class="anchor">#</a></td>
            <td>{{ publication.place }} <a href="#{{ publication.id }}" class="anchor">#</a></td>
            <td>
                {% for author in publication.authors %}
                    {% if author.link %}<a href="{{ author.link }}">{% endif %}
                        {{ author.fio | no_break_space }}<br>
                    {% if author.link %}</a>{% endif %}
                {% else %}
                    Авторы не найдены
                {% endfor %}
            </td>
        </tr>
    {% else %}
        <tr><td colspan="3">Публикации отсутствуют</td></tr>
    {% endfor %}
</table>
