<table>
    <tr>
        <th></th>
        {% for date in dates %}
            <th>{{ date }}</th>
            <th></th>
        {% endfor %}
    </tr>
    {% for teacher in teachers %}
        <tr>
            <td>{{ teacher }}</td>
            {% for date in dates %}
                {% if teacher in schedule.keys() and date in schedule[teacher].keys() %}
                    {% set item = schedule[teacher][date] %}
                    <td>{{ item.name }}<br><b>{{ item.groups|join(', ') }}</b></td>
                    <td>{{ item.place|join('<br>') }}</td>
                {% else %}
                    <td></td>
                    <td></td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>
