{% extends 'about/history/history_layout.html' %}

{% block history_content %}
    <div class="panel width-100">
        <p class="font-medium">
            Кафедра — ровесник МАТИ. В 1940 г. ее возглавил к. т. н., доцент Александр Игнатьевич Погумирский.
            Кафедра была немногочисленной, состояла из трех доцентов, пяти старших преподавателей и двух
            ассистентов. На кафедре читались курсы начертательной геометрии и черчения в течение 4-х семестров,
            активно велась учебно-воспитательная и методическая работа. Сам руководитель кафедры был настоящим
            геометром, любил свой предмет и неустанно пропагандировал его. Он отлично читал лекции, обладал
            художественным талантом и пользовался заслуженным авторитетом среди преподавателей. Погумирский вел
            практические занятия по начертательной геометрии и машиностроительному черчению, написал ряд
            методических разработок.
        </p>
    </div>
    <div class="grid2 galery center margin-medium">
        <img src="{{ static('images/about/history/3.jpg') }}" class="column middle" alt="1">
        <img src="{{ static('images/about/history/4.jpg') }}" class="column middle" alt="2">
    </div>
    <div class="grid2 center">
        <div class="panel column left top">
            <p class="font-medium">
                С 1962 по 1966 г. кафедру возглавлял д. т. н., проф. Леонид Михайлович Пыжевич. В это время на ней
                продолжалась интенсивная методическая работа. Издано значительное число методических работ по
                черчению и начертательной геометрии, альбом сборочных чертежей, альбом и задачник по начертательной
                геометрии. Под его руководством на кафедре была создана аспирантура.
            </p>
            <p class="font-medium">
                С 1966 по 1969 г. руководил кафедрой доцент, к.т.н. Ю.А. Александровский, а с 1969 г. — доцент,
                к.т.н. В. А. Осипов. Кафедра вела три курса: «Начертательная геометрия», «Инженерная графика»,
                «Машиностроительное черчение». В этот период были переработаны календарные планы, технологические
                карты и учебные программы, которые легли в основу программ, утвержденных для машиностроительных и
                приборостроительных специальностей высших учебных заведений.
            </p>
            <p class="font-medium">
                С 1976 г. кафедра ведет занятия на ФПК для преподавателей вузов страны . В те годы
                коллектив кафедры участвовал в разработке госбюджетных и хоздоговорных тем по четырем направлениям
                «Совершенствование учебного процесса», «Конструирование поверхностей сложных технических форм»,
                «Математическое обеспечение геометрических поверхностей технических устройств», «САПР сложных
                технических форм». Была проведена огромная работа, опыт и результаты которой стали использоваться
                в учебном процессе.
            </p>
        </div>
        <div class="panel column left top">
            <p class="font-medium">
                С 1979 по 1981 г. кафедрой руководил к.т.н., доц. В.С. Романычев , в 1981 г. кафедру возглавил
                д.т.н., проф. Геннадий Павлович Зайцев ,. В 1980-х годах на кафедре началось развитие новых
                современных направлений научной и исследовательской деятельности кафедры и учебного процесса.
                С 1983 г. при кафедре открыта лаборатория по автоматизированной переработке графической информации
                на базе двух ЭВМ «Электроника 100И» . Для студентов на электронных вычислительных машинах кафедры
                с 1984 г. проводятся лабораторные работы, в том числе по машинной графике. В 1987 г. кафедрой
                приобретены ЭВМ системы КАМАК ЭРА/СМ-1300 с 8 дисплеями. С этого момента деятельность кафедры стала
                опираться на электронные вычислительные комплексы, что и определило дальнейшее направление ее
                развития.
            </p>
            <p class="font-medium">
                В 80-х годах преподаватели и сотрудники активно занимались научно-исследовательской работой,
                кафедрой велись совместные разработки с ведущими предприятиями и организациями: НПО «Энергия», УВЗ
                им. Камова, ММЗ им. П.О. Сухого, НПО «Сатурн» и другими. В 1985 г. на базе кафедры были организованы
                и проводилась в течение длительного времени ежегодные научно-технические, а затем научно-методические
                конференции «Геометрические аспекты проектирования, технологии изготовления, деформирования и
                разрушения ЛА», в которых принимали участие ведущие специалисты отраслей и преподаватели кафедры
                с докладами в секциях НИР и УМР.
            </p>
        </div>
    </div>
    <div class="grid2 galery center margin-medium">
        <img src="{{ static('images/about/history/2.jpg') }}" class="column middle" alt="3">
        <img src="{{ static('images/about/history/6.jpg') }}" class="column middle" alt="4">
        <img src="{{ static('images/about/history/5.jpg') }}" class="column middle" alt="5">
        <img src="{{ static('images/about/history/7.jpg') }}" class="column middle" alt="6">
    </div>
{% endblock history_content %}