{% extends 'about/history/history_layout.html' %}

{% block history_content %}
    <div class="panel">
        <p class="font-medium">
            С результатами научно-исследовательских разработок сотрудники участвовали в международных и
            всесоюзных научно-исследовательских конференциях и выставках: Всесоюзных Гагаринских чтениях; Королевских
            чтениях; чтениях К.Э. Циолковского днях науки на ВДНХ различных выставках на ВДНХ; различных отраслевых и
            Вузовских НТК. За этот период преподаватели кафедры получили 15 авторских свидетельств на изобретения, 4 медали
            ВДНХ СССР несколько медалей Академии наук «За достижения в науке» опубликовано много научно-исследовательских и
            методических материалов.
        </p>
        <p class="font-medium">
            При кафедре ежегодно заканчивали ФПКП или стажировались свыше 70 преподавателей других вузов
            страны, этот факультет был ориентирован на повышение квалификации преподавателей в области использования средств
            вычислительной техники при решении задач начертательной геометрии и инженерной графики. В то же время
            преподаватели кафедры проходили обучение на ФПК при МАИ, МВТУ и других ведущих вузах страны.
        </p>
    </div>
    <div class="grid2 galery center margin-medium">
        <img src="{{ static('images/about/history/22.jpg') }}" class="column middle" alt="7">
        <img src="{{ static('images/about/history/23.jpg') }}" class="column middle" alt="8">
    </div>
    <div class="panel">
        <p class="font-medium">
            К научно-исследовательской работе активно привлекались студенты, работа которых велась по
            следующим направлениям: геометрические и деформационные задачи САПР. Студенты и аспиранты получили возможность
            проведения сложных математических расчетов в более короткие сроки с помощью нового оборудования, что позволило,
            внедрять свои достижения сотрудниками кафедры в реальные объекты. Также в 1980-е годы студенты занимались
            научной работой в рамках студенческого научно-технического общества и студенческого
            конструкторско-технологического бюро «Графит». Они выступали с докладами на конференциях, на заседаниях кружка,
            на студенческих Гагаринских чтениях занимались изобретательскими разработками. В это же время проводились
            ежегодные внутривузовские и городские олимпиады по начертательной геометрии, в которых студенты кафедры активно
            принимали участие.
        </p>
    </div>
{% endblock history_content %}