{% extends 'about/history/history_layout.html' %}

{% block history_content %}
    <div class="panel">
        <p class="font-medium">
            В настоящее время возглавляет кафедру «Системное моделирование и инженерная графика» профессор,
            к.т.н. Хорошко Леонид Леонидович. На кафедре работают 3 профессора, 6 доцентов, 3 старших преподавателя,
            3 преподавателя. Кафедра входит в состав Института 3 и является выпускающей по направлениям
            <b>090301</b> (бакалавр) и <b>090401</b> (магистр) <b>«Информатика и вычислительная техника»</b>.
        </p>
    </div>
    <div class="grid2 galery center margin-medium">
        <img src="{{ static('images/about/history/31.jpg') }}" class="column middle" alt="11">
        <img src="{{ static('images/about/history/32.jpg') }}" class="column middle" alt="12">
    </div>
    <div class="grid2 center">
        <div class="panel column left top">
            <p class="font-medium">
                Учебный процесс проходит в специализированных лабораториях, оборудованных современным аппаратным и
                программным обеспечением. Научно-исследовательская деятельность кафедры ведется на реальных
                объектах, позволяющих подкреплять теорию практическими опытами. Кафедра имеет большой опыт
                автоматизации различных объектов на таких предприятиях, как отдел учета главного таможенного
                управления РФ, профсоюз железнодорожников и транспортных строителей, Федеральная дорожная служба РФ,
                дирекция автодороги «Москва-Волгоград», Ряжский и Московский автодорожный техникум, Московское
                высшее военно-дорожное училище, библиотека иностранной литературы. Одновременно, кафедра
                сотрудничает с департаментом гражданской защиты МЧС. В этой совместной работе делается упор
                на интеграцию мехатронических систем с информационными, создана специализированная лаборатория
                ДГЗ МЧС МАТИ.
            </p>
        </div>
        <div class="panel column left top">
            <p class="font-medium">
                Кафедра продолжает принимать активное участие в научно-технических конференциях, семинарах и
                выставках. Так, сотрудники кафедры принимали активное участие в работе ряда международных
                конференций, в том числе: Всероссийского форума «Образовательная среда» в 2005-2014 гг. на ВВЦ,
                Московских международных конференциях по электронному обучению «eLearnExpo» (2005-2014 гг.),
                Международной выставке «Комплексная безопасность высших учебных заведений», Международных
                конференциях «Excellence in Education 2011» и «Moscow Education Online 2011», 15-ой Международной
                конференции «Interactiv Collaborativ Learning 2012» и 41-ой Международной конференции
                «Engineering Pedagogy 2012», а также в V-ой Международной конференции «IEEE EDUCON – Global
                Engineering Education Conference 2013», которые посвящены в т.ч. вопросам обучения с применением
                технологий e-Learning.
            </p>
        </div>
    </div>
    <div class="panel">
        <p class="font-medium">
            Выпускники кафедры трудоустроены на ведущие предприятия авиационной и ракетно-космической отрасли
            промышленности, такие как: АООТ ОКБ им. П.О. Сухого, КБ «Тяжелого машиностроения»,
            ФГУП ГКНПЦ им. М.В. Хруничева. Одновременно, бывшие выпускники занимают вакансии в известных компаниях:
            «General Electric», IBM, «Ростелеком», «Aztech», Федеральная дорожная служба, «РИНЕТ», Московский
            комитет по науке и технике, ОАО «Телеком», а студенты проходят стажировку в «Мобильные телесистемы»,
            «Видеоинтернейшнл» и др. При кафедре имеется аспирантура. Студенты, показавшие отличные успехи
            в учебной и исследовательской работе, рекомендуются в аспирантуру в целях подготовки преподавателей и
            научных работников высшей квалификации. Знания, получаемые на кафедре, востребованы на современном
            рынке труда. Авторитет кафедры как научного и методического центра растет год от года.
        </p>
    </div>
{% endblock history_content %}