{% extends 'about/history/history_layout.html' %}

{% block history_content %}
    <div class="panel">
        <p class="font-medium">
            С начала 1990-х годов вычислительные мощности кафедры постоянно увеличивались. В 1995 году студенты и
            аспиранты получили возможность работать на графических станциях компании IBM на базе передовых
            технологий Risc, PowerPC. В 1997 году появился современный компьютерный класс на базе ЭВМ IBM PC.
            Следуя в ногу со временем и быстрым развитием компьютерных технологий, техника на кафедре постоянно
            обновлялась и совершенствовалась. Учебная и научно-исследовательская деятельность кафедры базировалась
            на современных технологиях CATIA, которые даже сейчас занимают лидирующие позиции среди САПР.
            Параллельно с развитием сетевых технологий ЭВМ кафедры были интегрированы в общеуниверситетскую
            корпоративную сеть. В результате удалось построить собственный вычислительный центр с современными
            серверными станциями.
        </p>
        <p class="font-medium">
            В 1996 г. кафедра стала выпускающей и провела первый набор группы студентов на 1 курс, эти студенты
            успешно защитили дипломные проекты в 2002 г., а кафедрой уже осуществлен выпуск 5 групп студентов.
            При защите дипломного проекта требуется тщательное оформление документации, тщательная подготовка
            графического материала, по-разному могут вести себя студенты перед защитой.
        </p>
    </div>
    <div class="grid2 galery center margin-medium">
        <img src="{{ static('images/about/history/27.jpg') }}" class="column middle" alt="9">
        <img src="{{ static('images/about/history/28.jpg') }}" class="column middle" alt="10">
    </div>
    <div class="panel">
        <p class="font-medium">
            В ноябре 2003 года кафедрой была организована и успешно проведена Межвузовская научно-техническая
            конференция «Прикладные вопросы компьютерной графики в авиастроении», в которой приняли участие
            представители НИЦ АСК, МГУ им. М.В. Ломоносова, АО «ТОП-Системы», МИРЭА ТУ, МАИ ГТУ,
            ВВИА им. Н.Е. Жуковского, представители Malek Ashtar University of Technology (IRAN),
            ОАО им. С.В. Ильюшина и других организаций.
        </p>
        <p class="font-medium">
            Кафедра активно участвует в студенческих Гагаринских чтениях. В 2003 году в рамках студенческих
            Гагаринских чтений кафедра организовала свою секцию «Инженерная компьютерная графика», в заседании
            которой принимали участие не только студенты МАТИ, но и других инженерно-технических вузов Москвы и
            Московской области.
        </p>
    </div>
{% endblock history_content %}